---
import InfoPage from "../../../layouts/InfoPage.astro";
import styles from "../retrospective.module.scss"

import { Content as SF24USContent } from "@markdown/retrospective/sfus/sf24us.md"
import { Content as SF23USContent } from "@markdown/retrospective/sfus/sf23us.md"
import { Content as SF22USContent } from "@markdown/retrospective/sfus/sf22us.md"
import { Content as SF21USContent } from "@markdown/retrospective/sfus/sf21us.md"
import { Content as SF20USContent } from "@markdown/retrospective/sfus/sf20us.md"
import { Content as SF19USContent } from "@markdown/retrospective/sfus/sf19us.md"
import { Content as SF18USContent } from "@markdown/retrospective/sfus/sf18us.md"
import { Content as SF17USContent } from "@markdown/retrospective/sfus/sf17us.md"
import { Content as SF16USContent } from "@markdown/retrospective/sfus/sf16us.md"
import { Content as SF15USContent } from "@markdown/retrospective/sfus/sf15us.md"
import { Content as SF14USContent } from "@markdown/retrospective/sfus/sf14us.md"
import { Content as SF13USContent } from "@markdown/retrospective/sfus/sf13us.md"
import { Content as SF12USContent } from "@markdown/retrospective/sfus/sf12us.md"
import { Content as SF11USContent } from "@markdown/retrospective/sfus/sf11us.md"
import { Content as SF10USContent } from "@markdown/retrospective/sfus/sf10us.md"
import { Content as SF09USContent } from "@markdown/retrospective/sfus/sf09us.md"
import { Content as SF08USContent } from "@markdown/retrospective/sfus/sf08us.md"

const PAGE_TITLE = "Retrospective"

export async function getStaticPaths() {
    const pages = [
      {
        slug: "sf24us",
        title: "SharkFest'24 US",
        PageContent: SF24USContent,
      },
      {
        slug: "sf23us",
        title: "SharkFest'23 US",
        PageContent: SF23USContent,
      },
      {
        slug: "sf22us",
        title: "SharkFest'22 US",
        PageContent: SF22USContent,
      },
      {
        slug: "sf21us",
        title: "SharkFest'21 US",
        PageContent: SF21USContent,
      },
      {
        slug: "sf20us",
        title: "SharkFest'20 US",
        PageContent: SF20USContent
      },
      {
        slug: "sf19us",
        title: "SharkFest'19 US",
        PageContent: SF19USContent
      },
      {
        slug: "sf18us",
        title: "SharkFest'18 US",
        PageContent: SF18USContent
      },
      {
        slug: "sf17us",
        title: "SharkFest'17 US",
        PageContent: SF17USContent
      },
      {
        slug: "sf16us",
        title: "SharkFest'16 US",
        PageContent: SF16USContent
      },
      {
        slug: "sf15us",
        title: "SharkFest'15 US",
        PageContent: SF15USContent
      },
      {
        slug: "sf14us",
        title: "SharkFest'14 US",
        PageContent: SF14USContent
      },
      {
        slug: "sf13us",
        title: "SharkFest'13 US",
        PageContent: SF13USContent
      },
      {
        slug: "sf12us",
        title: "SharkFest'12 US",
        PageContent: SF12USContent
      },
      {
        slug: "sf11us",
        title: "SharkFest'11 US",
        PageContent: SF11USContent
      },
      {
        slug: "sf10us",
        title: "SharkFest'10 US",
        PageContent: SF10USContent
      },
      {
        slug: "sf09us",
        title: "SharkFest'09 US",
        PageContent: SF09USContent
      },
      {
        slug: "sf08us",
        title: "SharkFest'08 US",
        PageContent: SF08USContent
      },
    ];
    return pages.map(({ slug, PageContent, title }) => {
      return {
        params: { slug },
        props: { PageContent, title },
      };
    });

}
const { PageContent, title } = Astro.props;
---

<InfoPage title={`${title} ${PAGE_TITLE}`}>
  <section class={`container ${styles.retroContainer}`} id="">
    {!!PageContent && <PageContent />}
  </section>
</InfoPage>