@use "../../styles/colors.module.scss";
@use "../../styles/breakpoints" as b;
@use "../../styles/spacings.scss" as s;

#donatePage, #lodgingPage {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: b.$tablet) {
        flex-direction: column;
    }

    > div {
        min-width: 470px;
        padding-left: 1rem;
        padding-right: 1rem;

        @media screen and (max-width: b.$tablet) {
            min-width: 100%;
        }

        button {
            padding: 1rem;
            margin: .2rem;
            font-size: 1rem;
            font-weight: 700;
            border: 4px solid var(--color-secondary);
            min-width: 47%;

            img {
                max-width: 25px;
                margin-right: .2rem;
            }
        }

        .monthlySection {
            .active {
                background-color: var(--color-primary);
                color: white;
                display: flex;
                align-items: center;
            }
            
            button {
                min-width: 206px;

                @media screen and (max-width: b.$mobile) {
                    min-width: 97%;
                }
            }

            .monthlyButtonContainer {
                display: flex;

                @media screen and (max-width: b.$mobile) {
                    flex-direction: column;
                }
            }
        }

    }
}