---
import InfoPage from "../../../layouts/InfoPage.astro";
import styles from "../retrospective.module.scss"

import { Content as SF24EUContent } from "@markdown/retrospective/sfeu/sf24eu.md"
import { Content as SF23EUContent } from "@markdown/retrospective/sfeu/sf23eu.md"
import { Content as SF22EUContent } from "@markdown/retrospective/sfeu/sf22eu.md"
import { Content as SF21EUContent } from "@markdown/retrospective/sfeu/sf21eu.md"
import { Content as SF19EUContent } from "@markdown/retrospective/sfeu/sf19eu.md"
import { Content as SF18EUContent } from "@markdown/retrospective/sfeu/sf18eu.md"
import { Content as SF17EUContent } from "@markdown/retrospective/sfeu/sf17eu.md"
import { Content as SF16EUContent } from "@markdown/retrospective/sfeu/sf16eu.md"

const PAGE_TITLE = "Retrospective"

export async function getStaticPaths() {
    const pages = [
      {
        slug: "sf24eu",
        title: "SharkFest'24 EU",
        PageContent: SF24EUContent
      },
      {
        slug: "sf23eu",
        title: "SharkFest'23 EU",
        PageContent: SF23EUContent
      },
      {
        slug: "sf22eu",
        title: "SharkFest'22 EU",
        PageContent: SF22EUContent
      },
      {
        slug: "sf21eu",
        title: "SharkFest'21 EU",
        PageContent: SF21EUContent
      },
      {
        slug: "sf19eu",
        title: "SharkFest'19 EU",
        PageContent: SF19EUContent
      },
      {
        slug: "sf18eu",
        title: "SharkFest'18 EU",
        PageContent: SF18EUContent
      },
      {
        slug: "sf17eu",
        title: "SharkFest'17 EU",
        PageContent: SF17EUContent
      },
      {
        slug: "sf16eu",
        title: "SharkFest'16 EU",
        PageContent: SF16EUContent
      }
    ];
    return pages.map(({ slug, PageContent, title }) => {
      return {
        params: { slug },
        props: { PageContent, title },
      };
    });

}
const { PageContent, title } = Astro.props;
---

<InfoPage title={`${title} ${PAGE_TITLE}`}>
  <section class={`container ${styles.retroContainer}`} id="">
    {!!PageContent && <PageContent />}
  </section>
</InfoPage>