---
import InfoPage from "../../layouts/InfoPage.astro";
import "../../styles/Agenda.scss";
---

<InfoPage>
  <section id="agenda-page" class="container">
    <div class="agenda-header">
      <h1>SharkFest Agenda</h1>
      <a href="/assets/sf23asia-agenda.pdf"
        ><button class="primary-button"
          >Download conference abstracts & bios</button
        >
      </a>
    </div>
    <!-- DAY 1 -->
    <h2>Monday, April 17, 2023</h2>
    <h3>Pre-conference schedule</h3>

    <div class="scheduleContainer">
      <!-- TIMES -->
      <div class="time start-800"></div>
      <div class="time start-900">9:00</div>
      <div class="time start-1000">10:00</div>
      <div class="time start-1100 secondary-time">11:00</div>
      <div class="time start-1130">11:30</div>
      <div class="time start-1145">11:45</div>
      <div class="time start-1200 secondary-time">12:00</div>
      <div class="time start-1300">1:00</div>
      <div class="time start-1400">2:00</div>
      <div class="time start-1500">3:00</div>
      <div class="time start-1530">3:30</div>
      <div class="time start-1545">3:45</div>
      <div class="time start-1600 secondary-time">4:00</div>
      <div class="time start-1700 secondary-time">5:00</div>

      <!-- HEADER -->
      <div class="event start-800 length-1">
        <h4>Pre-conference class I<span>Making a good thing better: Optimization & Troubleshooting with Wireshark!</span> - Lecture Theatre 301</h4>
      </div>
      <div class="event start-800 length-1">
        <h4>Pre-conference class II<span>SSL/TLS Troubleshooting with Wireshark</span> - Auditorium 302</h4>
      </div>

      <!-- EVENTS -->
      <div class="event stage-tertiary start-900 end-900 length-2">
        Check-in & Badge Pick up + Breakfast - Function Hall 3 <span></span>
      </div>
      <div class="event stage-secondary start-1000 end-1115 length-1">
        Class in session
      </div>
      <div class="event stage-secondary start-1000 end-1115 length-1">
        Class in session
      </div>
      <div class="event stage-tertiary start-1130 end-1130 length-2">
        Break
      </div>
      <div class="event stage-secondary start-1145 end-1245 length-1">
        Class in session
      </div>
      <div class="event stage-secondary start-1145 end-1245 length-1">
        Class in session
      </div>
      <div class="event stage-tertiary start-1300 end-1300 length-2">
        Lunch
      </div>
      <div class="event stage-secondary start-1400 end-1500 length-1">
        Class in session
      </div>
      <div class="event stage-secondary start-1400 end-1500 length-1">
        Class in session
      </div>
      <div class="event stage-tertiary start-1530 end-1530 length-2">
        Break
      </div>
      <div class="event stage-secondary start-1545 end-1700 length-1">
        Class in session
      </div>
      <div class="event stage-secondary start-1545 end-1700 length-1">
        Class in session
      </div>
    </div>
    <!-- DAY 1 SHARKFEST -->
    <h2>Monday, April 17, 2023</h2>
    <h3>SharkFest schedule</h3>

    <div class="scheduleContainer">
      <!-- TIMES -->
      <div class="time start-1200">12:00</div>
      <div class="time start-1300">1:00</div>
      <div class="time start-1400 secondary-time">2:00</div>
      <div class="time start-1500 secondary-time">3:00</div>
      <div class="time start-1600 secondary-time">4:00</div>
      <div class="time start-1700 secondary-time">5:00</div>
      <div class="time start-1800">6:00</div>
      <div class="time start-1900 secondary-time">7:00</div>
      <div class="time start-2000 secondary-time">8:00</div>

      <!-- EVENTS -->
      <div class="event stage-tertiary start-1200 end-1700 length-1">
        Check-in & Badge Pick up<span></span>
      </div>
      <div class="event stage-off-white start-1300 end-1600 length-1">
        Developer Den Drop-In <span></span>
      </div>
      <div class="event stage-secondary start-1800 end-2000 length-2">
        SharkFest'23 ASIA Welcome Dinner & Sponsor Showcase<span>SharkFest'23 ASIA Attendees Only</span>
      </div>
    </div>

    <!-- DAY 2 SHARKFEST -->
    <h2>Tuesday, April 18, 2023 - Auditorium 302</h2>
    <h3>SharkFest schedule</h3>
    <p><span style="color: var(--color-secondary)">&#9632;</span> = Beginner/Intermediate <span style="color: var(--blue-background)">&#9632;</span> = Intermediate/Advanced</p>

    <div class="scheduleContainerSharkFest">
      <!-- TIMES -->
      <div class="time start-830">8:30</div>
      <div class="time start-930">9:30</div>
      <div class="time start-1000 secondary-time">10:00</div>
      <div class="time start-1030">10:30</div>
      <div class="time start-1045">10:45</div>
      <div class="time start-1100 secondary-time">11:00</div>
      <div class="time start-1200">12:00</div>
      <div class="time start-1215">12:15</div>
      <div class="time start-1300 secondary-time">1:00</div>
      <div class="time start-1330">1:30</div>
      <div class="time start-1400 secondary-time">2:00</div>
      <div class="time start-1430">2:30</div>
      <div class="time start-1500 secondary-time">3:00</div>
      <div class="time start-1545">3:45</div>
      <div class="time start-1600">4:00</div>
      <div class="time start-1700 secondary-time">5:00</div>
      <div class="time start-1800">6:00</div>
      <div class="time start-1900 secondary-time">7:00</div>
      <div class="time start-2000 secondary-time">8:00</div>

      <!-- EVENTS -->
      <div class="event stage-tertiary start-830 end-900 length-2">
        Breakfast
      </div>
      <div class="event stage-primary start-930 end-1015 length-2">
        KEYNOTE: “Latest Wireshark Developments & Road Map”<span>Gerald Combs & Friends</span>
      </div>
      <div class="event stage-tertiary start-1030 end-1030 length-2">
        Break - Function Hall 3
      </div>
      <div class="event stage-secondary start-1045 end-1145 length-2">
        01: Use of Wireshark in LTE and 5G Networks<span>Mark Stout</span>
      </div>
      <div class="event stage-tertiary start-1200 end-1200 length-2">
        Break - Function Hall 3
      </div>
      <div class="event stage-secondary start-1215 end-1315 length-2">
        02: Visualize application traffic using Wireshark<span>Megumi Takeshita</span>
      </div>
      <div class="event stage-tertiary start-1330 end-1400 length-2">
        Lunch - Function Hall 3
      </div>
      <div class="event stage-secondary start-1430 end-1530 length-2">
        03: Visualizing and Decrypting TLS 1.3<span>Ross Bagurdes</span>
      </div>
      <div class="event stage-tertiary start-1545 end-1545 length-2">
        Break - Function Hall 3
      </div>    
      <div class="event stage-secondary start-1600 end-1745 length-2">
        04: How did that happen? Packets may never lie, but...<span>Phill Shade</span>
      </div>
      <div class="event stage-off-white start-1800 end-2000 length-2">
        Sponsor Technology Showcase Reception, Treasure Hunt & Dinner - Function Hall 3
      </div>
    </div>
    <!-- DAY 2 SHARKFEST -->
    <h2>Wednesday, April 19, 2023 - Auditorium 302</h2>
    <h3>SharkFest schedule</h3>
    <p><span style="color: var(--color-secondary)">&#9632;</span> = Beginner/Intermediate <span style="color: var(--blue-background)">&#9632;</span> = Intermediate/Advanced</p>

    <div class="scheduleContainerSharkFest">
      <!-- TIMES -->
      <div class="time start-815">8:15</div>
      <div class="time start-915">9:15</div>
      <div class="time start-1000 secondary-time">10:00</div>
      <div class="time start-1030">10:30</div>
      <div class="time start-1045">10:45</div>
      <div class="time start-1100 secondary-time">11:00</div>
      <div class="time start-1200">12:00</div>
      <div class="time start-1300">1:00</div>
      <div class="time start-1400 secondary-time">2:00</div>
      <div class="time start-1415">2:15</div>
      <div class="time start-1430">2:30</div>
      <div class="time start-1500 secondary-time">3:00</div>
      <div class="time start-1545">3:45</div>
      <div class="time start-1600">4:00</div>
      <div class="time start-1700 secondary-time">5:00</div>
      <div class="time start-1715">5:15</div>
      <div class="time start-1800 secondary-time">6:00</div>
      <div class="time start-1830 secondary-time">6:30</div>

      <!-- EVENTS -->
      <div class="event stage-tertiary start-815 end-900 length-2">
        Breakfast
      </div>
      <div class="event stage-secondary start-915 end-1015 length-2">
        05: TCP Performance and battling the bloat<span>Leigh Finch</span>
      </div>
      <div class="event stage-tertiary start-1030 end-1030 length-2">
        Break - Function Hall 3
      </div>
      <div class="event stage-secondary start-1045 end-1145 length-2">
        06: Abusing the Network - An Overview of Malicious Network Activity and How to Detect It<span>Phill Shade</span>
      </div>
      <div class="event stage-tertiary start-1200 end-1245 length-2">
        Lunch - Function Hall 3
      </div>
      <div class="event stage-secondary start-1300 end-1400 length-2">
        07: LOG4SHELL: Getting to know your adversaries<span>Sake Blok</span>
      </div>
      <div class="event stage-tertiary start-1415 end-1415 length-2">
        Break - Function Hall 3
      </div>    
      <div class="event stage-secondary start-1430 end-1530 length-2">
        08: Zero Trust Framework to defend against latest Security Trends and Lessons Learned from Cyberwar<span>Mandana Javaheri</span>
      </div>  
      <div class="event stage-tertiary start-1545 end-1545 length-2">
        Break - Function Hall 3
      </div> 
      <div class="event stage-secondary start-1600 end-1700 length-2">
        09: The Interface Alphabet Soup. 10Mbit to 400Gbit, Everything You Wanted to Know About Layer 1 & Capture<span>Aaron Foo</span>
      </div> 
      <div class="event stage-off-white start-1715 end-1830 length-2">
        Closing Reception and Sponsor Technology Showcase - Function Hall 3
      </div>
    </div>
  </section>
</InfoPage>
