---
import InfoPage from "../../layouts/InfoPage.astro"
// Importing button styling from here
import styles from "../../components/Header/Header.module.scss";
---
<style>
    .dark-background .reg-options-button {
        display: block;
    }
</style>

<InfoPage title="SharkFest 2023 ASIA">
    <section id="experience-sharkfest">
      <div class="home-background-img-asia">
        <div class="container">
            <div class="left-side dark-background">
                <h1>Experience SharkFest</h1>
                <p>Join us for SharkFest'23 ASIA (April 17-19) in person in Singapore at the NTU@one-north campus.</p>
                <a href="/sfasia/registration-options"><button class={`${styles.primaryButton} reg-options-button`}>Register now</button></a>
            </div>
            <div class="right-side">
                <div class="right-side-background"></div>
            </div>
        </div>
      </div>
    </section>
    <section id="home-about" class="container">
        <svg
              xmlns="http://www.w3.org/2000/svg"
              width={125}
              height={125}
              viewBox="0 0 400 400"
            >
              <path d="M176.7 2C118.8 9.3 67.2 41.1 34.8 89.4c-44.2 66-44.7 152.1-1.2 219.4 3.6 5.7 6.8 10.1 7 9.9.3-.2-.2-3.5-1-7.3-4-18.9-5.1-31.7-5-56.9 0-21.2.4-26.8 2.2-37.3 9.1-50.1 32.1-91.5 73.3-131.7C139.3 57 175 31.7 217.8 9.2c7.3-3.8 10.9-6.2 10.1-6.7-1.8-1.1-43.1-1.5-51.2-.5zM229 13.1c-7.9 12-11.1 21.8-11.7 35.9-.9 18.2 3.2 34.1 14.6 57.1 22 44.2 68.9 97.2 139.1 157.2 7.4 6.3 13.8 11.3 14.2 11.1 1.3-.8 8-22.8 10.4-34.3 7.1-34.5 4.9-69.9-6.5-104.2-21.2-63.4-74.2-112.2-140-129-6.2-1.6-11.9-2.9-12.7-2.9-.8 0-4.1 4.1-7.4 9.1zM215.5 253.6c-8.9 1-26.5 4.7-35.5 7.6-37.5 11.9-70.8 38.5-96.7 77.3-6.1 9.1-9.7 15.5-9.1 15.9.2.2 3.7 2.8 7.8 5.8 53.2 38.6 119.9 49.2 181.5 28.7 47.5-15.8 85.3-47.3 111.8-93l2.7-4.7-7.8-3.7c-21.5-10.3-54-22.1-74.4-27-21.7-5.2-33.2-6.7-55.3-7-11.5-.2-22.8-.1-25 .1z" />
        </svg>
        <div>
            <h2>About SharkFest</h2>
            <p>Learn why you should attend, how to convince your boss, and more!</p>
            <a href="/about"><button class="secondary-button">Go Now</button></a>
        </div>
    </section>
    <section id="home-sponsor">
        <div class="home-sponsor-background-asia dark-background">
          <div class="home-sponsor-content container">
            <h3>Thank You to Our Sponsors:</h3>
            <div class="home-sponsor-imgs">
                <img src="/img/sponsors/profitap-white.png" alt="Profitap Logo" height="70" width="280" />
                <img src="/img/sponsors/fmadio.png" alt="Fmadio Logo" height="70" width="280" />
                <img src="/img/sponsors/riverbed-white.png" alt="Riverbed Logo" height="70" width="280" />
                <img src="/img/sponsors/comworth.png" alt="Comworth Logo" height="70" width="280" />
            </div>
        </div>
        </div>
    </section>
</InfoPage>