---
import InfoPage from "../../layouts/InfoPage.astro";
---

<InfoPage>
  <div class="container">
    <h1>SharkFest'23 ASIA Lodging Info</h1>
    <h2><a target="_blank" href="https://parkavenuegroup.com/property/rochester/location/">Park Avenue Rochester</a></h2>
    <p>Rates start at SGD 206</p>

    <h2><a target="_blank" href="https://www.discoverasr.com/en/citadines-connect/singapore/citadines-connect-rochester-singapore">Citadines Connect Rochester Singapore</a></h2>
    <p>Rates start at SGD 217</p>
  </div>
</InfoPage>