---
import InfoPage from "../../layouts/InfoPage.astro";
import RegisterForm from "../../components/RegisterForm/RegisterForm";
---

<InfoPage title="SharkFest Registration">
    <div class="container">
        <RegisterForm client:load>
        </RegisterForm>
    </div>
</InfoPage>
