---
import InfoPage from "../../layouts/InfoPage.astro";
import RegTable from "../../components/Tables/RegTableAsia";
import CancellationTable from "../../components/Tables/CancellationTable";
import PreConferenceTable from "../../components/Tables/PreConferenceTable";
import Button from "../../components/Button/Button";
// Importing button styling from here
import styles from "../../components/Header/Header.module.scss";
import { SFlinks } from "../../utils/links";

const sfAsiaLinks = SFlinks("asia")
---

<style lang="scss">
  @use "../../styles/breakpoints" as b;
  @use "../../styles/colors.module.scss";
  @use "../../styles/spacings.scss" as s;

  .reg-intro-wrapper {
    padding-bottom: 2rem;

    .reg-intro {
      width: 100%;

      img {
        max-width: 25px;
        margin-right: 5px;
      }
      h3 {
        margin-bottom: 0;
      }
      h4 {
        display: flex;
        align-items: center;
      }
      p {
        margin-top: 0;
      }
    }

    .reg-intro-background {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      overflow: hidden;
    }
  }

  .cancellation-wrapper,
  .reg-class-info {
    margin-top: s.$spacing4rem;
  }
</style>

<InfoPage title="SharkFest Registration">
  <div class="container">
    <div class="reg-intro-wrapper">
      <div class="reg-intro dark-background">
        <h1>Registration Packages</h1>
        <h2>
          Join us for SharkFest'23 ASIA (April 17-19) and learn with the best
          plus network with your peers!
        </h2>
        <h3>Conference Location:</h3>
        <p>
          The NTU@one-north campus (ONEC) <br />
          11 Slim Barracks Rise<br />
          Singapore
        </p>
        <h4>
          <img src="/icons-sf/phosphor/warning-circle.svg" />
          <i>All pricing is in USD.</i>
        </h4>
        <Button
          text="Register Now"
          link={sfAsiaLinks.register.url}
          variant="primaryButton"
        />
      </div>
      <div class="reg-intro-background">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="100%"
          height="549"
          preserveAspectRatio="none"
          viewBox="0 0 1700 549"
        >
          <g mask='url("#SvgjsMask1046")' fill="none">
            <rect
              width="1700"
              height="549"
              x="0"
              y="0"
              fill="url(#SvgjsLinearGradient1047)"></rect>
            <path
              d="M 0,41 C 113.4,67.2 340.2,168.8 567,172 C 793.8,175.2 907.4,63.6 1134,57 C 1360.6,50.4 1586.8,122.6 1700,139L1700 549L0 549z"
              fill="rgba(147, 49, 2, 0.63)"></path>
            <path
              d="M 0,283 C 85,276.2 255,237.2 425,249 C 595,260.8 680,343 850,342 C 1020,341 1105,253 1275,244 C 1445,235 1615,286.4 1700,297L1700 549L0 549z"
              fill="rgba(127, 71, 36, 1)"></path>
            <path
              d="M 0,432 C 113.4,450.2 340.2,529.4 567,523 C 793.8,516.6 907.4,412.4 1134,400 C 1360.6,387.6 1586.8,448.8 1700,461L1700 549L0 549z"
              fill="rgba(94, 34, 1, 0.84)"></path>
          </g>
          <defs>
            <mask id="SvgjsMask1046">
              <rect width="1700" height="549" fill="#ffffff"></rect>
            </mask>
            <linearGradient
              x1="16.93%"
              y1="-52.41%"
              x2="83.07%"
              y2="152.41%"
              gradientUnits="userSpaceOnUse"
              id="SvgjsLinearGradient1047"
            >
              <stop stop-color="rgba(95, 19, 1, 1)" offset="0"></stop>
              <stop stop-color="rgba(107, 45, 17, 1)" offset="1"></stop>
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
    <RegTable />
    <br />
    <Button
      text="Register Now"
      link={sfAsiaLinks.register.url}
      variant="primaryButton"
    />

    <div class="reg-class-info">
      <h2>SharkFest</h2>
      <PreConferenceTable
        title="SharkFest Conference"
        dates="June 12-15"
        instructor="Many"
        description="SharkFest attendees hone their skills in the art of packet analysis by attending lecture and lab-based sessions delivered by the most seasoned experts in the industry. Wireshark core code contributors also gather during the conference days to enrich and evolve the tool to maintain its relevance in ensuring the productivity of modern networks."
        whoShouldAttend="Anyone interested in furthering their packet analysis skills!"
      />
    </div>
    <div class="reg-class-info">
      <h2>
        Pre-Conference Class I: Making a Good Thing Better - Optimization and
        Troubleshooting with Wireshark!
      </h2>
      <PreConferenceTable
        title="Making a Good Thing Better - Optimization and Troubleshooting with Wireshark!"
        dates="April 17"
        instructor="Phill Shade"
        description="Network analysis and Optimization encompasses the skills of capturing data and the ability to discern unusual patterns hidden within seemingly normal network traffic. This course provides the student with a set of investigative and analysis techniques focusing on the use of vendor-neutral, Open-Source Tools such as Wireshark to provide insight."
        whoShouldAttend="This course is for Networking, Government, and Security personnel that need to develop a set of packet investigation and network optimization techniques by studying the Networking Protocols using Wireshark."
      />
      <br />
      <Button
        text="Register Now"
        link={sfAsiaLinks.register.url}
        variant="primaryButton"
      />
    </div>
    <div class="reg-class-info">
      <h2>Pre-Conference Class II: SSL/TLS Troubleshooting with Wireshark</h2>
      <PreConferenceTable
        title="SSL/TLS Troubleshooting with Wireshark"
        dates="April 17"
        instructor="Sake Blok"
        description="Applications today depend more and more on secure communication channels. For most internet applications the TLS protocol (SSL) is providing a secure channel to communicate over. To be able to troubleshoot problems with Applications that use (mutual) TLS, one must understand how TLS sessions are set up, how certificates & certificate authorities come into play, and how you can look inside the encrypted traffic to analyse application data. In this session you will gain a better understanding of the operation of the TLS protocol & you will learn how to troubleshoot TLS based communications when things don't work as expected."
        whoShouldAttend="Network technicians, network engineers, cybersecurity analysts, security engineers and application developers who are at the beginning to intermediate stages of packet analysis. The course will be focused on core concepts around Wireshark, helping attendees become more efficient and confident analyzing trace files."
      />
      <br />
      <Button
        text="Register Now"
        link={sfAsiaLinks.register.url}
        variant="primaryButton"
      />
    </div>
    <div class="cancellation-wrapper">
      <h2>Cancellation Policy</h2>
      <CancellationTable client:load />
    </div>
  </div>
</InfoPage>
