---
import InfoPage from "../../layouts/InfoPage.astro";
---

<InfoPage>
  <div class="container">
    <h1>SharkFest'23 ASIA Sponsors</h1>
    <p>
      If you are interested in sponsoring the SharkFest conference, please
      review our <a target="_blank" href="/assets/sf23asia-sponsor-doc.pdf"
        >Sponsorship Document</a
      > or send an email to <a href="mailto:sharkfest@wireshark.org"
        >sharkfest@wireshark.org.</a
      >
    </p>

    <h2>Angel Sponsors</h2>
    <div class="sponsor-container">
      <img
        src="/img/sponsors/comworth.png"
        alt="Comworth Logo"
        height="100"
        width="320"
      />
      <p>
        <p>
          <b>Comworth</b> develops and builds High Performance, Scalable, Lossless
          Packet Recording and Capture Appliances. Adopting State of Art technologies,
          ComWorth continues to test boundaries, driving higher performances. The
          Sirius NDR (Network Data Recorder) currently is capable of 100G capture
          and recording of up to 20 Petabyte of Data Storage. Together with other
          Special Purpose Appliances: “Procyon” with Intuitive GUI (for Ease of Use
          and Management) it support Intelligent Packet Filtering, Packet Aggregation
          and Load Balancing.
        </p>
        <p>
          With our expertise, we can integrate your solution into Enterprise
          networks, enabling network visibility and monitoring. Learn more @ <a
            target="_blank"
            href="https://www.comworth.com.sg/">www.comworth.com.sg</a
          > / <a target="_blank" href="https://www.comworth.co.jp/"
            >www.comworth.co.jp</a>
        </p>
      </p>
    </div>
    <div class="sponsor-container">
      <img
        src="/img/sponsors/fmadio-dark.jpg"
        alt="Fmadio Logo"
        height="100"
        width="320"
      />
      <p>
        <b>fmadio</b> is a Tokyo based startup focused on 100% loss less sustained
        1G 10G 40G 100G packet capture systems. FMAD 100G packet capture system won
        Interop Tokyo 2016 Best of Show award, with a rapidly growing world wide
        customer base including Fortune 500, Finance, Telecoms, Defense and Network
        Security. Our systems are affordably priced, excellent WireShark workflow
        and customer support directly by the engineers who built the product. Contact
        us any time to get an evaluation system. <a
          target="_blank"
          href="https://fmad.io/">https://fmad.io/</a
        >.
      </p>
    </div>
    <div class="sponsor-container">
      <img
        src="/img/sponsors/profitap.png"
        alt="Profitap Logo"
        height="70"
        width="320"
      />
      <p>
        <b>Profitap</b> develops and manufactures hard and software solutions that
        drive network visibility and analytics on all traffic across physical and
        virtual infrastructures. These network visibility solutions are designed
        with the security, forensics, deep packet capture, and network & application
        performance monitoring sectors in mind.
      </p>

      <p>
        Profitap network solutions help eliminate network downtime, add security
        to existing and new networks worldwide, assist in lawful interception
        applications and reduce network complexity. Profitap's network
        monitoring tools are highly performant, secure, and user-friendly. They
        provide complete visibility and access to your network 24/7.
      </p>

      <p>
        As experts in the field, Profitap products set new standards in an
        industry where the definition of excellence is constantly being
        challenged. With over 1,000 clients from 55 countries, many of which are
        among Fortune 500 companies, Profitap has a strong track record of trust
        and reliability.
      </p>
    </div>
    <div class="sponsor-container">
      <img
        src="/img/sponsors/riverbed.png"
        alt="Riverbed Logo"
        height="80"
        width="320"
      />
      <p>
        <b>Riverbed</b> is the only company with the collective richness of telemetry from network to app to end user, that illuminates and then accelerates every
          interaction, so organizations can deliver a seamless digital experience and drive enterprise performance. With our thousands of partners, we provide
          industry-leading unified observability and acceleration solutions to our global customers, and together empower every click, every digital experience.
          Riverbed. Empower the Experience. Learn more at<a
          target="_blank"
          href="https://riverbed.com"> riverbed.com</a
        >.
      </p>
    </div>
  </div>
</InfoPage>
