.proposalLink {
    border-bottom: 2px solid #fff;

    img {
        max-width: 25px;
        margin-left: .3rem;
        margin-right: 0;
        margin-bottom: -0.2rem;
      }

    &:hover {
      border-bottom: none;
    }
}