$blockTimes: 700, 730, 800, 815, 830, 845, 900, 915, 930, 945, 1000, 1015, 1030, 1045, 1100, 1115, 1130, 1145, 1200, 1215, 1230, 1245, 1300, 1315, 1330, 1345, 1400, 1415, 1430, 1445, 1500, 1515, 1530, 1545, 1600, 1615, 1630, 1645, 1700, 1715, 1730, 1745, 1800, 1815, 1830, 1845, 1900, 1930, 2000, 2030;
$blockLengths: 1, 2;

#agenda-page {
	h1 {
		margin-bottom: 1rem;
	}

	h2,
	h3 {
		text-align: left;
	}

	h2 {
		margin-bottom: 0;
		margin-top: 3rem;
	}

	h3 {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}

	.agenda-header {
		text-align: center;
	}
}

.scheduleContainer,
.scheduleContainerSharkFest {
	display: grid;
	grid-gap: 0.2rem;

	grid-template-columns: 3rem repeat(2, 1fr);
	grid-template-rows: repeat(0, 1fr);
}

.scheduleContainer {
	grid-template-areas:
		"time700 stage"
		"time730 stage"
		"time800 stage"
		"time900 stage"
		"time1000 stage"
		"time1100 stage"
		"time1115 stage"
		"time1130 stage"
		"time1145 stage"
		"time1200 stage"
		"time1245 stage"
		"time1300 stage"
		"time1400 stage"
		"time1500 stage"
		"time1530 stage"
		"time1545 stage"
		"time1600 stage"
		"time1700 stage"
		"time1800 stage"
		"time1900 stage"
		"time2000 stage"
		"time2030 stage"
}

.scheduleContainerSharkFest {
	grid-template-areas:
		"time700 stage"
		'time800 stage'
		"time815 stage"
		"time830 stage"
		"time845 stage"
		"time900 stage"
		"time915 stage"
		"time930 stage"
		"time945 stage"
		"time1000 stage"
		"time1015 stage"
		"time1030 stage"
		"time1045 stage"
		"time1100 stage"
		"time1115 stage"
		"time1130 stage"
		"time1145 stage"
		"time1200 stage"
		"time1215 stage"
		"time1230 stage"
		"time1245 stage"
		"time1300 stage"
		"time1315 stage"
		"time1330 stage"
		"time1345 stage"
		"time1400 stage"
		"time1415 stage"
		"time1430 stage"
		"time1445 stage"
		"time1500 stage"
		"time1515 stage"
		"time1530 stage"
		"time1545 stage"
		"time1600 stage"
		"time1615 stage"
		"time1630 stage"
		"time1645 stage"
		"time1700 stage"
		"time1715 stage"
		"time1730 stage"
		"time1745 stage"
		"time1800 stage"
		"time1815 stage"
		"time1830 stage"
		"time1845 stage"
		"time1900 stage"
		"time2000 stage"
		"time2030 stage"
}

/**
 * Time
 */
.time {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: thin dotted #ccc;
	height: 100%;
	padding: 0.5rem 0.5rem;

	@each $time in $blockTimes {
		&.start-#{$time} {
			grid-area: time#{$time}
		}
	}

	// &[class*="30"]:not(.start-1300), &[class*="15"]:not(.start-1500), &[class*="45"] {
	// 	font-size: 0.9rem;
	// }
}

.secondary-time {
	font-size: 0.8rem;
	color: var(--color-gray);
}


/**
 * Event
 */
.event {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0rem 1rem;
	background-color: var(--color-primary);
	border-radius: 0.2rem;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.1;

	h4 {
		color: white;
	}

	span {
		display: block;
		width: 100%;
		font-size: 0.8em;
		font-weight: normal;
	}

	@each $time in $blockTimes {
		&.start-#{$time} {
			grid-row-start: time#{$time}
		}
	}

	@each $time in $blockTimes {
		&.end-#{$time} {
			grid-row-end: time#{$time}
		}
	}

	@each $length in $blockLengths {
		&.length-#{$length} {
			grid-column-end: span #{$length};
		}
	}

	&.stage-primary {
		background-color: var(--color-primary);
		color: white;
	}

	;

	&.stage-secondary {
		background-color: var(--color-secondary)
	}

	;

	&.stage-tertiary {
		background-color: var(--color-tertiary)
	}

	;

	&.stage-off-white {
		background-color: var(--color-off-white)
	}

	;

	&.stage-off-white2 {
		background-color: var(--color-off-white2)
	}

	;

	&.stage-blue-background {
		background-color: var(--blue-background);
		color: white;
	}

	;
}