$color-primary: #0051ff;
$color-secondary: #65b3eb;
$color-tertiary: #b6ccfd;
$color-white: #fff;
$color-off-white: #d1d1d1;
$color-off-white2: #f5f5f5;
$color-gray: #7f7f7f;

$blue-background: #003eaa;

:export {
    colorPrimary: $color-primary;
    colorSecondary: $color-secondary;
    colorWhite: $color-white;
    colorOffWhite: $color-off-white;
    colorOffWhite2: $color-off-white2;
}