.sfveu-button {
  background-image: url("/sf22eu-background.jpg");
}

.landing-button-wrapper .sfretro-button {
  background-image: url("/sf-retro.jpg");
  background-position-y: center;
  background-position-x: right;
}

.sfvus-button {
  background-image: url("/shark21-main-filter.jpg");
  background-position-y: bottom;
  background-position-x: right;
}

.landing-wrapper {
  display: flex;
  flex: 1;
}

.landing-wrapper button {
  border: none;
  border-radius: 5px;
  padding: 3rem;
  width: 100%;
  height: 100%;
  color: white;
  display: inline;
  background-size: cover;
  font-size: 3rem;
  font-weight: 100;
  cursor: pointer;
  line-height: 2.5rem;
  box-shadow: 3px 3px 7px var(--color-box-shadow);
}

.landing-button-wrapper span {
  font-size: 1.5rem;
  line-height: 0;
}

.landing-button-wrapper {
  padding: 1rem;
  min-height: 40vh;
  transition: .3s;
  width: 100%;
}

.landing-button-wrapper:hover {
  transform: scale(1.05);
}

.hybrid-wrapper {
  padding: 2rem 0;
}

.hybrid-wrapper h1, .hybrid-wrapper h2 {
  text-align: center;
  color: black;
}

/*******************/
/** MEDIA QUERIES **/
/*******************/

@media only screen and (max-width: 1000px) {
  .landing-wrapper {
    flex-direction: column;
  }

  .landing-button-wrapper {
    min-height: 30vh;
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 600px) {
  .landing-wrapper {
    margin: 2rem;
  }

  .landing-wrapper button {
    font-size: 2rem;
    padding: 5rem;
  }

  .landing-button-wrapper {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 200px;
  }
}