---
import InfoPage from "../../layouts/InfoPage.astro"
import "../../styles/Agenda.scss";
---

<script>
  setTimeout(() => {
    // Accessing shadow dom to make changes to css
    const pretalxModule = document.querySelector("pretalx-schedule")
    const pretalxModuleRoot = pretalxModule && pretalxModule.shadowRoot;
    pretalxModuleRoot.childNodes[1].style.minWidth = "100%";

    pretalxModuleRoot.childNodes[1].childNodes[1].style.width = "100%"
  }, 250)
</script>

<InfoPage title="SharkFest EUROPE Agenda">
  <section id="agenda-page" class="container">
    <div class="agenda-header">
      <h1>SharkFest EUROPE Agenda coming soon!</h1>

      <!-- <pretalx-schedule event-url="https://conference.wireshark.org/sharkfest-24-eu/" locale="en" format="grid" style="--pretalx-clr-primary: #003EAAl; max-width: 100%; display: block;"></pretalx-schedule>
      <noscript>
        <div class="pretalx-widget">
              <div class="pretalx-widget-info-message">
                  JavaScript is disabled in your browser. To access our schedule without JavaScript,
                  please <a target="_blank" href="https://conference.wireshark.org/sharkfest-24-eu/schedule/">click here</a>.
              </div>
          </div>
      </noscript> -->
    </div>
  </section>

</InfoPage>