---
import Button from "@components/Button/Button";
import InfoPage from "../../layouts/InfoPage.astro";
---

<InfoPage>
  <div class="container">
    <h1>SharkFest'25 EUROPE Lodging Info</h1>
    <h2>
      <a
        href=https://www.marriott.com/event-reservations/reservation-link.mi?id=1739951246080&key=GRP&guestreslink2=true&app=resvlink"
        target="_blank">Sheraton Grand Warsaw</a
      >
    </h2>
    <p>Discover Sheraton Grand Warsaw's spacious 5 star hotel rooms in Warsaw, in contemporary designs with interiors combining shades of soft creams and blues. Offering the best accommodation in Warsaw, filled with natural light boast stunning views across the city. Classic, 1 king or 2 twin beds, Mini fridge, 30sqm/323sqft-40sqm/430sqft, complimentary wireless and wired internet, Coffee/tea maker, mini fridge, robes and much more.</p>
    
    <h3>Room Rates</h3>
    <p>• Single occupancy rate: 740 PLN + 8% VAT tax/day (around €177)<br/>
    • Double occupancy rate: 820 PLN + 8% VAT tax/day (around €196)</p>
    
    <p><b>Parking</b>: The price for parking is PLN 120 gross for one night.<br/>
      For one hour PLN 15 gross. </p>

    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          width="100%"
          height="300px"
          id="gmap_canvas"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4887.715606599734!2d21.024970800000002!3d52.227801199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eccfa6db67cb5%3A0xc5c07d0b99b3328b!2sSheraton%20Grand%20Warsaw!5e0!3m2!1sen!2sus!4v1740082162257!5m2!1sen!2sus"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"></iframe><br /><style>
          .mapouter {
            position: relative;
            text-align: right;
            height: 100%;
            width: 100%;
          }
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 100%;
            width: 100%;
          }
        </style>
      </div>
    </div>
  </div>
</InfoPage>