---
import InfoPage from "../../layouts/InfoPage.astro";
import RegTableEU from "../../components/Tables/RegTableEU";
import CancellationTable from "../../components/Tables/CancellationTable";
import PreConferenceTable from "../../components/Tables/PreConferenceTable";
import Button from "../../components/Button/Button";
// Importing button styling from here
import { SFlinks } from "../../utils/links";

const links = SFlinks("sfeu");
---

<style lang="scss">
  @use "../../styles/breakpoints" as b;
  @use "../../styles/colors.module.scss";
  @use "../../styles/spacings.scss" as s;

  .white-p {
    color: white;
  }

  .reg-intro-wrapper {
    padding-bottom: 2rem;

    .reg-intro {
      width: 100%;

      img {
        max-width: 25px;
        margin-right: 5px;
      }

      button {
        font-size: 1.5rem;
        font-weight: 700;
        border: 2px solid var(--color-white);
      }

      p {
        a {
          color: #d8c6ff;

          &:hover {
            color: #9c71f9;
          }
        }
      }

      .button-wrapper {
        text-align: center;

        button {
          @media screen and (max-width: b.$tablet) {
            display: inherit;
          }
        }
      }

      h4 {
        display: flex;
        align-items: center;
      }
    }

    .reg-intro-background {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      overflow: hidden;
    }
  }

  .cancellation-wrapper,
  .reg-class-info {
    margin-top: s.$spacing4rem;
  }
</style>

<InfoPage title="SharkFest Registration">
  <div class="container">
    <div class="reg-intro-wrapper">
      <div class="reg-intro dark-background">
        <h1>Registration Packages</h1>
        <h2>
          Join us for SharkFest'25 EUROPE, info coming soon!
        </h2>
        <!-- <p>To book lodging for the conference, please visit the <a href="/sfeu/lodging">lodging page.</a></p>
        <Button
          text="Register Now"
          link={links.register.url}
          variant="primaryButton"
        /> -->
      </div>
      <div class="reg-intro-background">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="1700"
          height="560"
          preserveAspectRatio="none"
          viewBox="0 0 1700 560"
        >
          <g mask='url("#SvgjsMask1004")' fill="none">
            <rect
              width="1700"
              height="560"
              x="0"
              y="0"
              fill="rgba(83, 41, 180, 1)"></rect>
            <path
              d="M 0,63 C 113.4,75.4 340.2,121.8 567,125 C 793.8,128.2 907.4,83.2 1134,79 C 1360.6,74.8 1586.8,99 1700,104L1700 560L0 560z"
              fill="rgba(58, 25, 133, 1)"></path>
            <path
              d="M 0,207 C 68,228.8 204,306.2 340,316 C 476,325.8 544,262.4 680,256 C 816,249.6 884,294 1020,284 C 1156,274 1224,196.2 1360,206 C 1496,215.8 1632,307.6 1700,333L1700 560L0 560z"
              fill="rgba(51, 1, 95, 1)"></path>
            <path
              d="M 0,373 C 113.4,394.6 340.2,465 567,481 C 793.8,497 907.4,443 1134,453 C 1360.6,463 1586.8,515.4 1700,531L1700 560L0 560z"
              fill="rgba(27, 2, 50, 1)"></path>
          </g>
          <defs>
            <mask id="SvgjsMask1004">
              <rect width="1700" height="560" fill="#ffffff"></rect>
            </mask>
          </defs>
        </svg>
      </div>
    </div>
    <!-- <p class="white-p"><b>Register before 15 July to receive a 10% early bird discount. Bundles are available in all combinations.</b></p> -->
    <!-- <RegTableEU />
    <br />
    <div class="reg-class-info">
      <h2>SharkFest</h2>
      <PreConferenceTable
        title="SharkFest Conference"
        dates="6-8 Nov"
        instructor="Many"
        description="SharkFest attendees hone their skills in the art of packet analysis by attending lecture and lab-based sessions delivered by the most seasoned experts in the industry. Wireshark core code contributors also gather during the conference days to enrich and evolve the tool to maintain its relevance in ensuring the productivity of modern networks."
        whoShouldAttend="Anyone interested in furthering their packet analysis skills!"
      />
    </div>
    <br /><br />
    <Button
      text="Register Now"
      link={links.register.url}
      variant="primaryButton"
    />
    <div class="reg-class-info">
      <h2>Pre-conference class I</h2>
      <PreConferenceTable
        title="Core Wireshark Skills for Network Engineers and Security Pros"
        dates="4-5 November"
        instructor="Chris Greer & Ross Bagurdes"
        description="Throughout this course, we are going to look at real-world examples of how to practically use Wireshark to solve network problems and isolate cybersecurity incidents. This skill will help AllOps (NetOps, SecOps, DevOps) engineers to improve in their analysis and troubleshooting skills. Labs have been designed to give real-world, hands-on experience with protocols using Wireshark."
        whoShouldAttend="Wireshark can be intimidating. I remember how it felt when I first started looking at a trace file with Wireshark. Questions started flooding into my mind: What should I look for? Where do I start? How can I find the packets that matter? What filters should I use? What is 'normal' and what can I ignore in all this data? I froze under the weight of all the detail in the packets. If you have ever felt that way when looking at a pcap, this is the course for you!"
      />
    </div>
    <br /><br />
    <Button
      text="Register Now"
      link={links.register.url}
      variant="primaryButton"
    />
    <div class="reg-class-info">
      <h2>Pre-conference class II</h2>
      <PreConferenceTable
        title="Cybersecurity Threat Hunting - Go Deep with Wireshark"
        dates="4 November"
        instructor="Chris Greer"
        whoShouldAttend="Wireshark is an important skill for those entering the cybersecurity field, as well as seasoned pros who need to dig into the packets. This course is targeted toward Network Engineers with a working understanding of Wireshark who would like to use it for a cybersecurity focus, but don’t have much experience with threat hunting. Those who want to learn to spot attack patterns, analyze malware, or respond to an incident will enjoy this content!"
        description="The field of Cybersecurity has grown tremendously in the past few years. With every new breach, we realize just how important analysis skills have become in identifying, mitigating, and protecting networks. Wireshark is one of the most important tools in the toolbox for identifying threats, spotting unusual behavior, and analyzing malware behavior, we just need to know how to use it. In this class, we will dive deep into traffic flows to learn how Wireshark can be used to analyze different steps in the Cyber Kill Chain."
      />
    </div>
    <br /><br />
    <Button
      text="Register Now"
      link={links.register.url}
      variant="primaryButton"
    />
    <div class="reg-class-info">
      <h2>Pre-conference class III</h2>
      <PreConferenceTable
        title="WebRTC Network Analysis Masterclass"
        dates="5 November"
        instructor="Robert Hess & Matthias Kaiser"
        description="Web Real-Time Communication (WebRTC) describes a standards-based approach to initiating audio and video communication relationships via IP-based networks, in the simplest case using a browser. WebRTC has become the most significant solution for web-based conferencing in our time. It has been implemented by many conferencing solution manufacturers and providers worldwide. In this Pre Conference Class, Robert and Matthias will take you into the world of analyzing WebRTC traffic and WebRTC solutions with Wireshark. It will enable you capturing and analyzing WebRTC Web Conferencing calls, analyzing the salient call components for potential problems and implement the required measures in your network perimeters to overcome such problems."
        whoShouldAttend="Have you ever wondered why your favorite web conferencing tool sometimes had bad video or audio quality? Did you experience problems connecting, when your VPN is active? Are you responsible, supporting users with their communication needs in diverse network environments? Or did you just stumble across weird UDP traffic in your latest trace files? Then this course is for you. We will explain the insides of the WebRTC communication protocols used in most modern products and show our praxis-proven approach analyzing problems in this field. The course includes hands-on capturing and analyzing problem situations including firewall restrictions and proxy use. To the best of our abilities, we will also address your real live problems you bring to the table."
        prerequesites="You can find your way around in Wireshark and are interested in communication protocols. Please bring your PC/Mac/Linux machine with Wireshark 4.X installed."
      />
    </div>
    <br /><br />
    <Button
      text="Register Now"
      link={links.register.url}
      variant="primaryButton"
    />
    <div class="cancellation-wrapper">
      <h2>Cancellation Policy</h2>
      <CancellationTable conference="sfeu" />
    </div> -->
  </div>
</InfoPage>
