---
import InfoPage from "../../layouts/InfoPage.astro";
---

<InfoPage>
  <div class="container">
    <h1>SharkFest'25 EU Sponsors</h1>
    <p>
      If you are interested in sponsoring the SharkFest conference, please
      review our <a target="_blank" href="/assets/sf25eu-sponsor-doc.pdf"
        >Sponsorship Document</a
      > or send an email to <a href="mailto:sharkfest@wireshark.org"
        >sharkfest@wireshark.org.</a
      >
    </p>

    <h2>Angel Sponsors</h2>
    <!-- <div class="sponsor-container">
      <img
        src="/img/sponsors/b-yond.webp"
        alt="B-YOND Logo"
        height="45"
        width="290"
      />
      <p>
        <b>B-YOND</b> uses machine learning (ML) and artificial intelligence (AI) to automate the often time-consuming and complex tasks of protocol and root cause analysis using PCAPs, making network testing more efficient and improving network reliability, security, and quality.
      </p>
    </div> -->
    <!-- <div class="sponsor-container">
      <a target="_blank" href="https://allegro-packets.com/"
        ><img
          src="/img/sponsors/allegro.png"
          alt="Allegro Packets Logo"
          height="60"
          width="320"
        /></a
      >
      <p>
        <b>Allegro Packets</b> offers the world's fastest 240Gbps (60Mpps), L2-to-L7
        packet analyzer for IT/OT/IoT Metadata Observability with one-second granularity
        and Microburst(ms) in real time for long term. These appliances, known as
        "Allegro Network Multimeters" provide highly granular and detailed analysis
        through innovative system architecture and powerful software algorithms.
        They effectively uncover network problems, performance bottlenecks, and protocol
        disturbances. With advanced incident monitoring capabilities based on thresholds
        and notifications, Allegro Network Multimeters proactively assist IT teams
        and service providers in network performance management, root cause analysis,
        and simplifying informed network-related decisions, including security considerations.<br
        /><br/>

        Learn more at: <a href="https://allegro-packets.com/en/" target="_blank"
          >https://allegro-packets.com/en/</a
        >
      </p>
    </div> -->
    <!-- <div class="sponsor-container">
      <img
        src="/img/sponsors/endace.png"
        alt="Endace Logo"
        height="90"
        width="320"
      />
      <p>
        <b>Endace's</b> scalable, open packet-capture platform provides network-wide
        packet recording at speeds of 100Gbps and beyond. With fast, centralized
        search, powerful data-mining and the ability to integrate with, and host,
        security and performance monitoring solutions the open EndaceProbe platform
        puts definitive packet evidence right at your fingertips. Find out why Cisco,
        Palo Alto Networks, IBM, Splunk, Gigamon, Darktrace and many others partner
        with Endace to provide 100% accurate Network Recording at <a
          target="_blank" rel="noreferrer"
          href="https://www.endace.com">www.endace.com</a
        > or follow Endace on Twitter, LinkedIn and Youtube.
      </p>
    </div> -->
    <!-- <div class="sponsor-container">
      <img
        src="/img/sponsors/kadiska.png"
        alt="Kadiska Logo"
        height="90"
        width="320"
      />
      <p>
        <b>Kadiska’s</b> self-driving monitoring platform delivers 100% visibility into the digital experience of modern SaaS and cloud applications as users experience them. Integrated insight across devices, connectivity, cloud infrastructure, and applications simplifies performance optimization and troubleshooting so enterprises can deliver an amazing digital experience to their employees and customers.
      </p>
    </div> -->
    <!-- <div class="sponsor-container">
      <img
        src="/img/sponsors/neox-networks.webp"
        alt="Neox Networks Logo"
        height="100"
        width="320"
      />
      <p>
        <b>NEOX NETWORKS GmbH</b>, is an innovative manufacturer and solution provider of network solutions specialising in network visibility, observability, monitoring and security. We help our customers maximise the performance of their network monitoring, network forensics, network traffic analysis, full packet capture, compliant monitoring and cyber security, while providing complete visibility into their enterprise-wide network. Our product portfolio includes scalable solutions such as Full Packet Network Capture Systems, Network Forensics Appliances, Network and Bypass TAPs, Network Packet Brokers and Advanced Packet Processing Devices for up to 400G fast physical, cloud or hybrid network infrastructures. Learn more: <a href="https://www.neox-networks.com/en/" target="_blank" rel="noreferrer noopenner">https://www.neox-networks.com/en/</a>
      </p>
    </div> -->
    <div class="sponsor-container">
      <img
        src="/img/sponsors/profitap.png"
        alt="Profitap Logo"
        height="100"
        width="300"
      />
      <p>
        <b>Profitap</b> develops and manufactures hard and software solutions that
        drive network visibility and analytics on all traffic across physical and
        virtual infrastructures. These network visibility solutions are designed
        with the security, forensics, deep packet capture, and network & application
        performance monitoring sectors in mind.
      </p>

      <p>
        Profitap network solutions help eliminate network downtime, add security
        to existing and new networks worldwide, assist in lawful interception
        applications and reduce network complexity. Profitap's network
        monitoring tools are highly performant, secure, and user-friendly. They
        provide complete visibility and access to your network 24/7.
      </p>

      <p>
        As experts in the field, <a href="https://www.profitap.com/" target="_blank" rel="noreferrer">Profitap</a> products set new standards in an
        industry where the definition of excellence is constantly being
        challenged. With over 1,000 clients from 55 countries, many of which are
        among Fortune 500 companies, Profitap has a strong track record of trust
        and reliability.
      </p>
    </div>
    <div class="sponsor-container">
      <img
        src="/img/sponsors/scos.png"
        alt="SCOS Logo"
        height="90"
        width="300"
      />
      <p>
        <b>SCOS Software</b> is a leading Benelux supplier of Network and Cloud monitoring and management tools; specializing in Secure Managed File Transfer solutions for medium-sized to large enterprises. In addition, SCOS also supplies professional training and support for Network solutions, including Network and Forensics Analysis capabilities. Since 2010, SCOS has been the Authorized European Training Partner of Wireshark University.
      </p>
    </div>
  </div>
</InfoPage>
