@use "../../styles/colors.module.scss";

footer {
  text-align: center;
  background: var(--blue-background);
  padding: 0;

  ul {
    padding: 0;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    color: var(--color-tertiary);
  }
}

.footerSocial {
  list-style-type: none;
  display: inline-flex;

  li {
    padding: .3rem;
  }
}