@use "../../styles/colors.module.scss";
@use "../../styles/breakpoints" as b;
@use "../../styles/spacings.scss" as s;

.cardWrapper {
  box-shadow: 0 4px 8px 0 var(--color-box-shadow);
  border: 2px solid var(--color-secondary);
  transition: 0.3s;
  border-radius: s.$borderRadius;

  .imgSection {
    height: 0;
    padding-bottom: 50%;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: b.$smaller) {
      padding-bottom: 67%;
    }

    img {
      width: 38%;
      border-radius: 3px;
      display: flex;
      margin: 0 auto;
      padding-top: 1rem;
    }
  }

  .cardContent {
    padding: .7rem;
    padding-bottom: 0;

    h2 {
      margin: 0;

      @media screen and (max-width: b.$mobile) {
        font-size: 1rem;
      }
    }
  }
}

.cardWrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 40, 255, 0.28);
  border: 2px solid var(--color-primary);
}
