@use "../../styles/colors.module.scss";
@use "../../styles/spacings.scss" as s;

.sharkFestTable {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, var(--color-primary), var(--blue-background));
  text-align: center;
  border-radius: s.$borderRadius;

  th,
  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  td:first-child {
    font-weight: 900;
    width: 535px;
  }

  th {
    background-color: var(--color-primary);
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    td {
      position: relative;
      &:hover {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -9999px;
          bottom: -9999px;
          background-color: rgba(255, 255, 255, 0.2);
          z-index: -1;
        }
      }
    }
  }
}

.preConferenceTable {
  td:first-child {
    width: inherit;
  }
}

.preConferenceTable .sharkFestTable tbody {
  text-align: left;
}
