@use "../../styles/colors.module.scss";
@use "../../styles/fonts.module.scss";
@use "../../styles/breakpoints" as b;

.primaryButton {
    border: 0px;
    padding: 1rem;
    background: var(--color-primary);
    color: white;
    font-size: 1rem;
    font-weight: 600;

    @media screen and (max-width: b.$tablet) {
        display: none;
    }
}

.primaryButton:hover {
    background-color: var(--color-secondary);
    transition: background-color 0.25s ease 0s;
}

.header {
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: right;
    width: 100%;
    font-family: fonts.$normal;
    border-bottom: 1px solid rgb(236, 239, 241);
    background: transparent;

    .headerWrapper {
        display: flex;
        align-items: center;
        margin: 0 auto;
        box-sizing: content-box;
        justify-content: space-between;

        .headerHamburger {
            display: none;
            cursor: pointer;
            height: 30px;
            width: 30px;
            margin-top: 8px;

            @media screen and (max-width: b.$tablet) {
                display: inline-block;
            }
        }

        ul {
            display: flex;
            margin: 0;

            @media screen and (max-width: b.$tablet) {
                display: none;
            }
        }

        li {
            img {
                max-width: 10px;
                margin-left: 3px;
                margin-top: 3px;
            }
        }
    }

    .responsiveHeader {
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 100;
        
        @media screen and (min-width: b.$tablet) {
            display: none;
        }


        @media screen and (max-width: b.$smaller) {
            width: 100%;
        }

        .accordionItem {
            border: none;
        }

        .responsiveList {
            padding-top: 6rem;
            padding-left: 3rem;
            height: 100vh;
            top: 0;
            background: var(--blue-background);
            margin: 0;

            li {
                display: flex;
                padding: 1rem;
                font-size: 1.5rem;

                img {
                    max-width: 13px;
                    margin-left: 5px;
                    margin-top: 13px;
                    max-height: 8px;
                }
            }

            ul {
                margin-top: .5rem;
                padding: 0;
                padding-left: 1rem;
                list-style: circle;

                li {
                    font-size: 1.3rem;
                    padding: .3rem;
                    padding-left: 0;
                    display: list-item;
                }
            }
        }


        a {
            color: white;
            display: inline-flex;
        }

        a:hover {
            color: white;
        }

        span {
            color: white;
            z-index: 100;
            position: absolute;
            top: 2rem;
            right: 2rem;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

}

.hoveredMenu {
    min-height: 150px;
    position: absolute;
    background: white;
    z-index: 300;
    width: 100%;
    box-shadow: 0px 3px 2px -2px #8888882b;

    ul {
        padding-right: 40px;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;

        img {
            max-width: 40px;
            border-radius: 100%;
            padding: .4rem;
            margin-right: 10px;
            background-color: var(--color-primary);
            box-shadow: 1px 3px 5px 1px #0000005c;
        }

        li {
            align-items: center;
            transition: 0.3s;
        }

        li:hover {
            background-color: #0052ff17;
            border-radius: 5px;
            transition: 0.3s;
        }
    }
}

.mainNav {
    a {
        color: black;
        text-align: left;
    }
    svg {
        fill: var(--color-primary);
    }
    a:hover {
        color: var(--color-primary);
    }
    li {
        display: flex;
        padding: .8rem;
        font-size: 1rem;
    }

    .callToAction {
        background-color: var(--blue-background);
        color: white;
        padding: .7rem;
        text-align: center;
        font-weight: 700;
    }
}
