@use "../../styles/fonts.module.scss";

header {
  text-align: center;
  background: var(--blue-background);
  padding: 25px 0;
}

header h1,
header h2,
header h3 {
  color: white;
}

header h1 {
  margin: 0;
}

header h3 {
  margin: 0;
  font-family: fonts.$thin;
}

a {
  color: #58b2e8;
  text-decoration: none;
}