@use "../../styles/colors.module.scss";
@use "../../styles/spacings.scss" as s;
@use "../../styles/breakpoints.scss" as b;

p {
  text-align: left;
}

.registerForm {
  max-width: 1000px;
  margin: 0 auto;

  .buttonWrapper {
    text-align: center;
    margin: 2rem;

    button {
      min-width: 200px;
    }
  }

  .termsAndConditions {
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;

    @media screen and (max-width: b.$smaller) {
      width: 100%;
    }

    p {
      font-size: 13px;
    }

    label {
      display: flex;
    }

    #agreeToTerms {
      display: flex;
      width: 100px;
      height: 25px;
      border: 1px solid #6cc0e5;
      opacity: .6;
      -webkit-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s;
    }
    
    #agreeToTerms:checked {
      display: flex;
      width: 100px;
      height: 25px;
      border-radius: 0;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
    }
  }
}

.formInputWrapper {
  width: 50%;
  display: inline-grid;

  @media screen and (max-width: b.$smaller) {
    width: 100%;
  }
}

.formInputWrapper label,
input {
  transition: 0.4s;
}

.formInputWrapper input,
textarea,
select {
  margin: 0.4rem;
}

.formInputWrapper label {
  padding: 0.3rem;
}

.formInputWrapper select {
  overflow-wrap: break-word;
  width: 97%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.formInputWrapper input,
textarea,
select {
  background: var(--color-off-white)2;
  border: 1px solid #24283d;
  border-radius: 3px;
  color: #040404;
  padding: 0.7rem;
}

.formInputWrapper input:focus {
  outline: none;
  background: transparent;
  border: 1px solid var(--color-primary);
  color: #383e5e;
}

.formInputWrapper p {
  color: white;
  background-color: #a80000;
  font-size: 13px;
  padding: 0.6rem;
  width: 100%;
}

.formInputWrapper span {
  font-size: 13px;
  background-color: #2d4460;
  color: white;
  padding: 0.3rem;
  margin: 0.3rem;
}

.register-button {
  border: none;
  border-radius: s.$borderRadius;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
  background: #49517b;
  width: 10rem;
  color: white;
  display: block;
}

.registerButton:disabled {
  background-color: gray;
  color: white;
  cursor: default;
}

.required-asterix {
  color: red;
}

#type_of_registration {
  width: 98.2%;
}

.hcaptcha {
  text-align: center;
  display: block ruby;
  padding: 1rem;
}

.regHeader {
  margin-bottom: s.$spacing2rem;
  text-align: center;
}