---
import InfoPage from "../../layouts/InfoPage.astro";
import "../../styles/Agenda.scss";
---

<script>
  setTimeout(() => {
    // Accessing shadow dom to make changes to css
    const pretalxModule = document.querySelector("pretalx-schedule");
    const pretalxModuleRoot = pretalxModule && pretalxModule.shadowRoot;
    pretalxModuleRoot.childNodes[1].style.minWidth = "100%";

    pretalxModuleRoot.childNodes[1].childNodes[1].style.width = "100%";
  }, 250);
</script>

<InfoPage>
  <section id="agenda-page" class="container">
    <div class="agenda-header">
      <h1>SharkFest US Agenda</h1>

      <pretalx-schedule
        event-url="https://conference.wireshark.org/sharkfest-25-us-2024/"
        locale="en"
        format="grid"
        style="--pretalx-clr-primary: #0052FF"></pretalx-schedule>
      <noscript>
        <div class="pretalx-widget">
          <div class="pretalx-widget-info-message">
            JavaScript is disabled in your browser. To access our schedule
            without JavaScript, please <a
              target="_blank"
              href="https://conference.wireshark.org/sharkfest-25-us-2024/schedule/"
              >click here</a
            >.
          </div>
        </div>
      </noscript>
    </div>
  </section>
</InfoPage>
