---
import InfoPage from "../../layouts/InfoPage.astro";
import Button from "@components/Button/Button";
---

<InfoPage>
  <div class="container lodging-page">
     <h2>
      <a
        href="https://www.marriott.com/en-us/hotels/ricdt-richmond-marriott/overview/"
        target="_blank">Richmond Marriott</a
      >
    </h2>
    <p>Room rates are $199 per night. Room rates are subject to 2% TID and applicable state and local taxes.</p>
    
    <p>At the Hotel there are (2) on site parking options:</p>
    <ul>
      <li>• <b>Valet</b> - overnight rates are $41</li>
      <li>• <b>Self Parking</b> - garage on 5th & Marshall - overnight rates are $20</li>
    </ul>
    
    <Button
      link="https://book.passkey.com/event/50929156/owner/12987/home"
      text="Book your group rate for SharkFest'25 US"
      variant="primaryButton"
     />
    <br/><br/>
    
    <h3>Relax and Refresh in Our Newly Renovated Guest Rooms</h3>
    <p>Upgraded with new plush, pillowtop mattresses topped with cozy duvets and foam pillows, our guestrooms capitalize on comfort and are thoughtfully decorated to reflect the colors and textures of Richmond's Natural elements.</p>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          width="100%"
          height="300px"
          id="gmap_canvas"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d338801.54837547!2d-77.25715049377817!3d37.48594270885309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b1113ca6a44711%3A0xf18ad574830493d4!2sRichmond%20Marriott!5e0!3m2!1sen!2sat!4v1730881670863!5m2!1sen!2sat"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"></iframe><br /><style>
          .mapouter {
            position: relative;
            text-align: right;
            height: 100%;
            width: 100%;
          }
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 100%;
            width: 100%;
          }
        </style>
      </div>
    </div>
  </div>
</InfoPage>
