---
import InfoPage from "../../layouts/InfoPage.astro";
import RegTable from "../../components/Tables/RegTable";
import CancellationTable from "../../components/Tables/CancellationTable";
import PreConferenceTable from "../../components/Tables/PreConferenceTable";
// Importing button styling from here
import styles from "../../components/Header/Header.module.scss";
---

<style lang="scss">
  @use "../../styles/breakpoints" as b;
  @use "../../styles/colors.module.scss";
  @use "../../styles/spacings.scss" as s;

  .reg-wrapper {
    p {
      color: white;
    }
  }
  .reg-intro-wrapper {
    padding-bottom: 2rem;

    .reg-intro {
      width: 100%;

      img {
        max-width: 25px;
        margin-right: 5px;
      }

      button {
        font-size: 1.5rem;
        font-weight: 700;
        border: 2px solid var(--color-white);
      }

      .button-wrapper {
        text-align: center;
        button {
          @media screen and (max-width: b.$tablet) {
            display: inherit;
          }
        }
      }

      h4 {
        display: flex;
        align-items: center;
      }
    }

    .reg-intro-background {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      overflow: hidden;
    }
  }

  .cancellation-wrapper,
  .reg-class-info {
    margin-top: s.$spacing4rem;
  }
</style>

<InfoPage title="SharkFest Registration">
  <div class="container reg-wrapper">
    <div class="reg-intro-wrapper">
      <div class="reg-intro dark-background">
        <h1>Registration Packages</h1>
        <h2>
          Join us for SharkFest'25 US (June 14-19 at the Richmond Marriott in Richmond, VA) and learn with the best plus
          network with your peers!
        </h2>
        <div class="button-wrapper">
          <a href="/sfus/register"
            ><button class={styles.primaryButton}> Register Now</button>
          </a>
        </div>
      </div>
      <div class="reg-intro-background">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width={2800}
          height={549}
          preserveAspectRatio="none"
          viewBox="0 0 1700 549"
        >
          <g mask='url("#a")' fill="none">
            <path fill="url(#b)" d="M0 0h2800v549H0z"></path>
            <path
              d="M0 156c106.2-17 318.6-76.4 531-85 212.4-8.6 318.6 46.2 531 42 212.4-4.2 424.8-50.4 531-63v499H0z"
              fill="rgba(0, 60, 187, 1)"></path>
            <path
              d="M0 263c63.8 4.2 191.4 29.2 319 21s191.4-66.6 319-62c127.6 4.6 191.4 80.4 319 85 127.6 4.6 191.8-58.2 319-62 127.2-3.8 253.6 34.4 317 43v261H0z"
              fill="#184a7e"></path>
            <path
              d="M0 435c106.2 15.4 318.6 77.6 531 77 212.4-.6 318.6-73.4 531-80 212.4-6.6 424.8 37.6 531 47v70H0z"
              fill="#2264ab"></path>
          </g>
          <defs>
            <linearGradient
              x1="16.38%"
              y1="-47.54%"
              x2="83.62%"
              y2="147.54%"
              gradientUnits="userSpaceOnUse"
              id="b"
            >
              <stop stop-color="#0e2a47" offset={0}></stop>
              <stop stop-color="#00459e" offset={1}></stop>
            </linearGradient>
            <mask id="a">
              <path fill="#fff" d="M0 0h2800v549H0z"></path>
            </mask>
          </defs>
        </svg>
      </div>
    </div>
    <p><b>Register before March 1st to receive a 10% early bird discount. Bundles are available for the conference and pre-conference classes.<br/><br/> <i>*Please note that pre-conference classes II and III both take place on Monday June 16th</i>.</b></p>
    <RegTable />
    <br />
    <div class="reg-class-info">
      <h2>SharkFest</h2>
      <PreConferenceTable
        title="SharkFest Conference"
        dates="June 17-19"
        instructor="Many"
        description="SharkFest attendees hone their skills in the art of packet analysis by attending lecture and lab-based sessions delivered by the most seasoned experts in the industry. Wireshark core code contributors also gather during the conference days to enrich and evolve the tool to maintain its relevance in ensuring the productivity of modern networks."
        whoShouldAttend="Anyone interested in furthering their packet analysis skills!"
      />
    </div>
    <div class="reg-class-info">
      <h2>Pre-conference class I</h2>
      <PreConferenceTable
        title="Essential Wireshark Skills: Practical Packet Analysis"
        dates="June 14-15"
        instructor="Chris Greer & Ross Bagurdes"
        description="Level up your Wireshark skills and get ready for SharkFest! This hands-on course will provide core Wireshark skills for IT pros of all experience levels. Participants will gain a solid understanding of how to use Wireshark to capture, analyze, and troubleshoot network traffic. The course is designed with beginners in mind, but even seasoned packet people will pick up new tips and tricks. Topics covered include: an introduction to network analysis and the role of Wireshark, installing and configuring Wireshark, analyzing captured packets, understanding protocol structures, and identifying network issues, utilizing powerful filtering techniques to isolate specific traffic and find the packets that matter, a deep Dive into ARP, IP, ICMP, DNS, DHCP, TCP, UDP, QUIC, HTTP, TLS, and working with command-line tools like TShark."
        whoShouldAttend="This course is ideal for all IT pros, including: network Engineers, security Analysts, software developers, and anyone interested in learning about network protocols and troubleshooting"
      />
    </div>
    <div class="reg-class-info">
      <h2>Pre-conference class II</h2>
      <PreConferenceTable
        title="TCP Analysis Masterclass"
        dates="June 16"
        instructor="Jasper Bongertz"
        description="Analyzing TCP connections is one of the biggest topics in network analysis in general, especially when troubleshooting applications or even multi-tiered deployments of servers. How TCP works and detecting problems is one of the 'easy to learn, hard to master' skills that is always in demand. Most Wireshark classes only touch the basics and do not go into the more complex scenarios, especially when it comes to multi point captures to track packet loss and timing issues. In this masterclass you will learn how to troubleshoot TCP in seemingly simple as well as complex and quite challenging cases."
        whoShouldAttend="This course is for all Wireshark users (whether in Networking, Application or System), who want to improve their skill set when troubleshooting TCP problems."
        prerequesites="This course is at an intermediate to advanced level, students should be proficient with using basic filtering in Wireshark and should be familiar with TCP handshake, Sequence & Acknowledgement Number tracking and basic retransmission scenarios."
      />
    </div>
    <div class="reg-class-info">
      <h2>Pre-conference class III</h2>
      <PreConferenceTable
        title="SSL/TLS troubleshooting with Wireshark"
        dates="June 16"
        instructor="Sake Blok"
        description="The applications of today depend more and more on secure communication channels. For most internet applications the TLS protocol (still mostly referred to as  SSL) is providing the secure channel to communicate over. To be able to troubleshoot problems with Applications that use (mutual) TLS, one must understand how TLS sessions are set up, how certificates and certificate authorities come into play and how you can look inside the encrypted traffic to analyse the (cleartext) application data. In this session you will gain a better understanding of the operation of the TLS protocol and more importantly, you will learn how to troubleshoot TLS based communications when things don't work as expected."
        whoShouldAttend="Network technicians, network engineers, cybersecurity analysts, security engineers and application developers who need to design, implement, manage and/or troubleshoot applications that use TLS."
      />
    </div>
    <div class="cancellation-wrapper">
      <h2>Cancellation Policy</h2>
      <CancellationTable />
    </div>
  </div>
</InfoPage>
