---
import InfoPage from "../../layouts/InfoPage.astro";
---

<script>
    setTimeout(() => {
        document.querySelector(".pretix-widget-attribution").style.opacity = 0;
    }, 500);
</script>

<InfoPage title="SharkFest Registration">
    <div class="container">
        <pretix-widget
            event="https://ticketing.wireshark.org/sf/us2025/"
            single-item-select="button"></pretix-widget>
        <noscript>
            <div class="pretix-widget">
                <div class="pretix-widget-info-message">
                    JavaScript is disabled in your browser. To access our ticket
                    shop without JavaScript, please <a
                        target="_blank"
                        rel="noopener"
                        href="https://ticketing.wireshark.org/sf/us2025/"
                        >click here</a
                    >.
                </div>
            </div>
        </noscript>
    </div>
</InfoPage>
