---
import InfoPage from "../../layouts/InfoPage.astro";
---

<InfoPage>
  <div class="container">
    <h1>SharkFest'25 US Sponsors</h1>
    <p>
      If you are interested in sponsoring the SharkFest conference, please
      review our <a target="_blank" href="/assets/sf25us-sponsor-doc.pdf"
        >Sponsorship Document</a
      > or send an email to <a href="mailto:sharkfest@wireshark.org"
        >sharkfest@wireshark.org</a
      >.
    </p>
    <br /><br />

    <h2>Angel Sponsors</h2>
    <!-- <div class="sponsor-container">
      <a target="_blank" href="https://www.b-yond.com/"><img
        src="/img/sponsors/b-yond.webp"
        alt="B-YOND Logo"
        height="45"
        width="290"
      /></a>
      <p>
        <b>B-YOND</b> uses machine learning (ML) and artificial intelligence (AI) to automate the often time-consuming and complex tasks of protocol analysis and root cause analysis using PCAPs, making network testing more efficient and improving network reliability, security, and quality. 
      </p>
    </div> -->
    <div class="sponsor-container">
      <a target="_blank" href="https://allegro-packets.com/"
        ><img
          src="/img/sponsors/allegro.png"
          alt="Allegro Packets Logo"
          height="60"
          width="320"
        /></a
      >
      <p>
        <b>Allegro Packets</b> offers the world's fastest 240Gbps (60Mpps), L2-to-L7 packet analyzer for IT/OT/IoT Metadata Observability with one-second granularity and Microburst(ms) in real time for long term. These appliances, known as "Allegro Network Multimeters" provide highly granular and detailed analysis through innovative system architecture and powerful software algorithms. They effectively uncover network problems, performance bottlenecks, and protocol disturbances. With advanced incident monitoring capabilities based on thresholds and notifications, Allegro Network Multimeters proactively assist IT teams and service providers in network performance management, root cause analysis, and simplifying informed network-related decisions, including security considerations.<br/>

        Learn more at: <a href="https://allegro-packets.com/en/" target="_blank">https://allegro-packets.com/en/</a>
      </p>
      </div>
      <!--
      <div class="sponsor-container">
        <a target="_blank" href="http://www.cpacket.com/"
          ><img
            src="/img/sponsors/cpacket-new-black.png"
            alt="Cpacket Logo"
            height="80"
            width="320"
          /></a
        >
        <p>
          <b>cPacket Networks</b> powers hybrid-cloud observability through its Intelligent Observability Platform. We deliver the industry's only fully featured solution operating at line-speed. Line-speed smart processing for delivery serves demanding environments where every packet must be accounted for. Likewise, simultaneous packet capture, query, and retrieval deliver lossless operations at up to 100 Gbps under load. Find out more at <a target="_blank" href="http://www.cpacket.com/">www.cpacket.com</a>.
        </p>
      </div> -->
      <div class="sponsor-container">
        <a target="_blank" href="https://www.endace.com/"
          ><img
            src="/img/sponsors/endace.png"
            alt="Endace Logo"
            height="90"
            width="320"
          /></a
        >
        <p>
          <b>Endace's</b> scalable, open packet-capture platform provides network-wide
          packet recording at speeds of 100Gbps and beyond. With fast, centralized
          search, powerful data-mining and the ability to integrate with, and host,
          security and performance monitoring solutions the open EndaceProbe platform
          puts definitive packet evidence right at your fingertips. Find out why
          Cisco, Palo Alto Networks, IBM, Splunk, Gigamon, Darktrace and many others
          partner with Endace to provide 100% accurate Network Recording at <a
            target="_blank"
            href="https://www.endace.com">www.endace.com</a
          > or follow Endace on Twitter, LinkedIn and Youtube.
        </p>
      </div> 
      <div class="sponsor-container">
        <a target="_blank" href="https://www.profitap.com/"
          ><img
            src="/img/sponsors/profitap.png"
            alt="Endace Logo"
            height="120"
            width="300"
          /></a
        >
        <p>
          <b>Profitap's</b> end-to-end deep network observability solutions form the backbone of modern-day network troubleshooting and cybersecurity by providing fail-safe data access, traffic optimization, and traffic capture and analysis capabilities to network engineers. Profitap's network visibility solutions help reduce network troubleshooting MTTR, eliminate downtime, add security to existing and new networks worldwide, assist in lawful interception, and reduce network complexity. With over 1,100 clients from more than 70 countries, Profitap's network monitoring solutions drive network visibility and analytics on all traffic across physical and virtual infrastructures globally. Please go to <a
            target="_blank"
            href="https://www.endace.com">www.profitap.com</a
          > to learn more.
        </p>
      </div> 
      <div class="sponsor-container">
        <a target="_blank" href="https://www.veeam.com/">
          <img
            src="/img/sponsors/veeam.png"
            alt="Veeam Logo"
            height="100"
            width="320"
          />
        </a>
        <p>
          <b>Veeam</b>, the #1 global market leader in data protection and ransomware recovery, is on a mission to help every organization not just bounce back from a data outage or loss but bounce forward. With Veeam, organizations achieve radical resilience through data security, data recovery, and data freedom for their hybrid cloud. The Veeam Data Platform delivers a single solution for cloud, virtual, physical, SaaS, and Kubernetes environments that gives IT and security leaders peace of mind that their apps and data are protected and always available. Headquartered in Columbus, Ohio, with offices in more than 30 countries, Veeam protects over 450,000 customers worldwide, including 73% of the Global 2000, who trust Veeam to keep their businesses running. Radical resilience starts with Veeam. Learn more at <a href="https://www.veeam.com" target="_blank" rel="noreferrer">www.veeam.com</a> or follow Veeam on LinkedIn @veeam-software and X @veeam. 
        </p>
      </div>  
      <div class="sponsor-container">
        <a target="_blank" href="https://www.viavisolutions.com/en-us/enterprise"
          ><img
            src="/img/sponsors/viavi.png"
            alt="Viavi Solutions Logo"
            height="100"
            width="320"
          /></a
        >
        <p>
          <b>VIAVI Solutions, Inc.</b>, the industry-leading network performance and end-user experience management solution, offers cutting-edge threat forensics and powerful packet capture capabilities. NetOps can swiftly identify and assess performance degradations, while SecOps benefits from detecting suspicious traffic, minimizing breach dwell time, and obtaining court-admissible evidence. By enabling targeted packet captures and avoiding the pitfalls of massive, unmanageable PCAPs, VIAVI delivers the needed insights—fast. From performance degradation to security threats, trust VIAVI to help you identify, prioritize, and resolve issues with unmatched efficiency and accuracy. Strengthen your defense with VIAVI.
        </p>
      </div> 

      <h2>Silky Shark Sponsor</h2>
      <div class="sponsor-container">
        <a target="_blank" href="https://www.activecountermeasures.com/"
          ><img
            src="/img/sponsors/active-countermeasures.png"
            alt="Active Countermeasures Logo"
            height="70"
            width="320"
          /></a
        >
        <p>
          <b>Active Countermeasures</b> is a team of like minded geeks dedicated to giving back to the cybersecurity community. We do this through free training, thought leadership, and by creating open-source and affordable commercial tools revolved around Network Security & Threat Hunting.   
        </p>
      </div>
  </div>
</InfoPage>
