---
import InfoPage from "../../layouts/InfoPage.astro";
import { SFlinks } from "../../utils/links";
import Button from "../../components/Button/Button";
---

<style lang="scss">
    @use "../../styles/breakpoints" as b;

    ul {
        list-style-type: disc;
    }

    #apply {
        margin-top: 5rem;
    }
</style>

<InfoPage title="SharkFest Wireshark Women in Tech Scholarship">
    <div class="container">
        <h1>Women in Tech Scholarship</h1>
        <p>
            The Wireshark Foundation is committed to encouraging diversity in the Wireshark Community. A community that fosters inclusion & embraces diverse backgrounds, experiences, and ideas. To support that goal, we are providing two scholarships for SharkFest'25 US.
        </p>
        <Button
          text="Apply Now"
          link="#apply"
          variant="fullWidth"
        />
        <p><b>Each scholarship is a $3335 value, and includes:</b></p>
        <ul>
            <li><b>Pre-Conference Class I</b> - Essential Wireshark Skills: Practical Packet Analysis. This class is taught by Chris Greer & Ross Bagurdes, a $1145 value.</li>
            <li><b>Pre-Conference Class II or Pre-Conference Class III</b>, a $945 value.</li>
            <li><b>SharkFest'25 US</b>: a $1295 value</li>
            <li>The scholarships do not cover hotel or travel expenses.</li>
        </ul>
        <h2>Criteria for Selection</h2>
        <ul>
            <li>The scholarship is need based. Candidates will be evaluated based on financial need & a passion for troubleshooting & security</li>
            <li>Candidates should have a basic understanding of networking</li>
            <li>Candidates must demonstrate an interest in packet analysis with Wireshark on their application</li>
            <li>Candidates are chosen by the answers on the application concerning financial need, and show a passion for packets & learning</li>
        </ul>
        <div id="apply">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfx4GwhsnJw1cw4mWqYX5NIf0kgmN-WW57OzQVOonj1xAP-Mw/viewform?embedded=true" width="100%" height="2800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    <div>
</InfoPage>