---
import InfoPage from "../../layouts/InfoPage.astro";
import cardDataJsonUS from "./retrospectiveCardDataUS.json";
import cardDataJsonEU from "./retrospectiveCardDataEU.json";
import cardDataJsonASIA from "./retrospectiveCardDataASIA.json";
import Card from "@components/Card/Card";
import Search from "@components/Search/Search.astro";
---

<style lang="scss">
    @use "../../styles/breakpoints" as b;

    .card-wrapper {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: auto auto auto auto;

        @media screen and (max-width: b.$smaller) {
            grid-template-columns: auto auto;
        }
    }

    h2 {
        margin-top: 3.5rem;
    }
</style>

<InfoPage>
    <div class="container">
        <Search />
        <h2>US Conferences</h2>
        <div class="card-wrapper">
            {
                cardDataJsonUS.map((cardData) => (
                    <Card
                        title={cardData.title}
                        imgUrl={"/img/sflogo.png"}
                        subtitle={cardData.subtitle}
                        link={cardData.link}
                    />
                ))
            }
        </div>
        <h2>EU Conferences</h2>
        <div class="card-wrapper">
            {
                cardDataJsonEU.map((cardData) => (
                    <Card
                        title={cardData.title}
                        imgUrl={"/img/sflogo.png"}
                        subtitle={cardData.subtitle}
                        link={cardData.link}
                    />
                ))
            }
        </div>
        <h2>ASIA Conferences</h2>
        <div class="card-wrapper">
            {
                cardDataJsonASIA.map((cardData) => (
                    <Card
                        title={cardData.title}
                        imgUrl={"/img/sflogo.png"}
                        subtitle={cardData.subtitle}
                        link={cardData.link}
                    />
                ))
            }
        </div>
    </div>
</InfoPage>
