.retroContainer {
  p {
    margin-top: 0;
  }

  h4 {
    margin-bottom: 0;
  }

  img {
    max-width: 230px;
    display: inline;
    padding: 0.7rem;
  }

  ul {
    p {
        margin-bottom: 0;
    }
  }
}
