---
import InfoPage from "../layouts/InfoPage.astro";
---

<style>
    h1 {
        text-align: center;
        margin-top: 3rem;
    }
</style>

<InfoPage>
    <h1>Sorry, this page could not be found!</h1>
</InfoPage>