---
import InfoPage from "../layouts/InfoPage.astro";
import AttendanceProposal from "../components/AttendanceProposal/AttendanceProposal";
import { genericLinks } from "src/utils/links";
---

<style lang="scss">
  @use "../styles/breakpoints" as b;

  .about-container {
    h2 {
      margin-bottom: 0;
    }
  }

  .croppedImg {
    overflow: hidden;

    img {
      margin: -50px 50px -90px 0px;

      @media screen and (max-width: b.$smaller) {
        display: none;
      }
    }
  }

  #why-attend {
    padding-top: 2rem;

    .container {
      margin-bottom: 0;
    }

    h1 {
      text-align: center;

      @media screen and (max-width: b.$mobile) {
        text-align: left;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }

    .why-attend-subheader {
      width: 50%;
      margin: 0 auto;
      text-align: center;

      @media screen and (max-width: b.$mobile) {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        text-align: left;
      }
    }

    .why-attend-wrapper {
      display: flex;

      @media screen and (max-width: b.$smaller) {
        display: inherit;
      }
    }

    .left-side,
    .right-side {
      padding: 0;
      margin-right: 3rem;

      div {
        display: flex;
        min-height: 139px;
        align-items: center;
      }
    }

    h4 {
      line-height: 1.5rem;
      font-weight: 500;
    }

    img {
      max-width: 70px;
      margin-right: 1rem;
    }
  }
</style>

<InfoPage title="About SharkFest">
  <div class="about-container container">
    <div class="croppedImg">
      <img
        src="/img/sf19dinner.jpg"
        width="100%"
        alt="SF19 Group Dinner Photo"
      />
    </div>
    <h2>What is SharkFest?</h2>
    <p>
      <a href="https://sharkfest.wireshark.org">SharkFest™</a>, launched in
      2008, is a series of annual educational conferences staged in various
      parts of the globe and focused on sharing knowledge, experience and best
      practices among the <a href="https://wireshark.org">Wireshark®</a> developer
      and user communities.
    </p>

    <p>
      SharkFest attendees hone their skills in the art of packet analysis by
      attending lecture and lab-based sessions delivered by the most seasoned
      experts in the industry. Wireshark core code contributors also gather
      during the conference days to enrich and evolve the tool to maintain its
      relevance in ensuring the productivity of modern networks.
    </p>
    <h2>What is Wireshark?</h2>
    <p>
      Wireshark is the de facto standard and most widely-deployed open-source
      network and packet analysis tool consistently downloaded 1M+ times/month
      by IT Professionals across all network-related disciplines.
    </p>
    <h2>SharkFest Mission</h2>
    <p>
      SharkFest's aim is to support ongoing Wireshark development, to educate
      and inspire current and future generations of computer science and IT
      professionals responsible for managing, troubleshooting, diagnosing and
      securing legacy and modern networks, and to encourage widespread use of
      the free analysis tool. Per Gerald Combs, Wireshark project Founder
      …“Wireshark is a tool and a community. My job is to support both."
    </p>

    <h2>SharkFest GOALS</h2>
    <ol>
      <li>
        To educate current and future generations of network engineers, network
        architects, application engineers, network consultants, and other IT
        professionals in best practices for troubleshooting, securing,
        analyzing, and maintaining productive, efficient networking
        infrastructures through use of the Wireshark free, open source analysis
        tool.
      </li>
      <li>
        To share use cases and knowledge among members of the Wireshark user and
        developer communities in a relaxed, informal milieu.
      </li>
      <li>To remain a self-funded, independent, educational conference.</li>
    </ol>
    <h2>Want to give a talk at SharkFest?</h2>
    <p>
      <a href={genericLinks.speakerSubmission.url} target="_blank">Click here</a> to submit a proposal for a presentation or workshop at SharkFest, we'd love to hear your ideas!
    </p>
    <h2>Code of Conduct</h2>
    <p>
      SharkFest™ is dedicated to providing a harassment-free conference
      experience for everyone, regardless of gender, gender identity and
      expression, age, sexual orientation, disability, physical appearance, body
      size, race, ethnicity, religion (or lack thereof), or technology choices.
      We do not tolerate harassment of conference participants in any form.
      Sexual language and imagery is not appropriate for any conference venue,
      including talks, workshops, parties, Twitter and other online media.
      Conference participants violating these rules may be sanctioned or
      expelled from the conference without a refund at the discretion of the
      conference organizers.
    </p>
  </div>
  <section id="why-attend" class="dark-background">
    <h1>Why Attend?</h1>
    <div class="why-attend-subheader">
      <p>The SharkFest community is reuniting for a unique conference that will deliver the latest technical education, insights, and inspiration to support your success. Use our SharkFest proposal letter to convince your boss or company that you should join us!</p>
      <AttendanceProposal client:visible />
    </div>
    <div class="why-attend-wrapper container">
      <div class="left-side">
        <div>
          <img
            src="/icons-sf/phosphor/check-circle.svg"
            alt="Circle checkmark icon"
          />
          <h4>
            Strengthen diagnostic muscle by attending a selection of
            Wireshark-centric sessions ranging from beginner to intermediate to
            advanced levels.
          </h4>
        </div>
        <div>
          <img
            src="/icons-sf/phosphor/check-circle.svg"
            alt="Circle checkmark icon"
          />
          <h4>Build your professional network.</h4>
        </div>
      </div>
      <div class="right-side">
        <div>
          <img
            src="/icons-sf/phosphor/check-circle.svg"
            alt="Circle checkmark icon"
          />
          <h4>
            Meet the developers. Gerald Combs, creator of Wireshark plus core
            devs will be in-person, answering questions, and presenting
            Wireshark's current and future direction.
          </h4>
        </div>
        <div>
          <img
            src="/icons-sf/phosphor/check-circle.svg"
            alt="Circle checkmark icon"
          />
          <h4>
            Discover Wireshark use-enhancing technology from SharkFest sponsors.
          </h4>
        </div>
      </div>
    </div>
  </section>
</InfoPage>
