---
import LandingPage from "../components/LandingPage/LandingPage";
import Layout from "../layouts/Layout.astro";
---

<style>
  * {
    box-sizing: border-box;
  }

  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .site-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<Layout>
    <div class="site-content">
      <LandingPage />
    </div>
</Layout>
