---
import InfoPage from "../layouts/InfoPage.astro";
import styles from "../components/RegisterForm/RegisterForm.module.scss"
---

<InfoPage>
  <!-- Begin Mailchimp Signup Form -->
  <div class="container" id="mc_embed_signup">
    <form
      action="https://wireshark.us16.list-manage.com/subscribe/post?u=9a409f05fc21d8b00f86d4254&id=58cefd33e3&v_id=3125&f_id=006278e0f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_self"
    >
      <div id="mc_embed_signup_scroll">
        <h2>SharkFest Mailing List</h2>
        <div class={`mc-field-group ${styles.formInputWrapper}`}>
          <label for="mce-EMAIL"
            >Email Address
          </label>
          <input
            type="email"
            value=""
            name="EMAIL"
            class="required email"
            id="mce-EMAIL"
            required
          />
        </div>
        <div
          id="mergeRow-gdpr"
          class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group"
        >
          <div class="content__gdpr">
            <p>
                SharkFest will use the information you provide on this form to get in touch with you with conference information, future conference dates and locations, and any other conference related updates.
            </p>
            <p>
              You can change your mind at any time by clicking the unsubscribe
              link in the footer of any email you receive from us, or by
              contacting us at sharkfest@wireshark.org. We will treat your
              information with respect. For more information about our privacy
              practices please visit our website. By clicking below, you agree
              that we may process your information in accordance with these
              terms.
            </p>
          </div>
          <div class="content__gdprLegal">
            <p>
              We use Mailchimp as our marketing platform. By clicking below to
              subscribe, you acknowledge that your information will be
              transferred to Mailchimp for processing. <a
                href="https://mailchimp.com/legal/terms"
                target="_blank"
                >Learn more about Mailchimp's privacy practices here.</a
              >
            </p>
          </div>
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none">
          </div>
          <div class="response" id="mce-success-response" style="display:none">
          </div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input
            type="text"
            name="b_9a409f05fc21d8b00f86d4254_58cefd33e3"
            tabindex="-1"
            value=""
          />
        </div>
        <div class="clear">
          <input
            type="submit"
            value="Subscribe"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="button primary-button"
          />
        </div>
      </div>
    </form>
  </div>

  <!--End mc_embed_signup-->
</InfoPage>
