---
import { foundationLinks } from "../utils/links";
---
<html>
  <head>
    <title>Moved to {foundationLinks.privacyPolicy}</title>
    <meta http-equiv="refresh" content={"0;" + foundationLinks.privacyPolicy} />
  </head>
  <body>
    Moved to <a href={foundationLinks.privacyPolicy}>{foundationLinks.privacyPolicy}</a>
  </body>
</html>