---
import InfoPage from "../layouts/InfoPage.astro";
---

<InfoPage>
    <h2>Thanks for booking at dorm at USD!</h2>
    <p>If you haven't already, please email <a href="mailto:sheri@wireshark.org">sheri@wireshark.org</a> to advise of your check-in and check-out dates.</p>
</InfoPage>