---
import InfoPage from "../layouts/InfoPage.astro";
---

<InfoPage>
  <div class="container">
      <h1>Thank you for very much for your support.</h1>
      <h3>We're so grateful for your generous donation! You are helping to support many aspects of our organization, including Wireshark's ongoing development, and SharkFest, an annual educational conference focused on sharing knowledge, experience and best practices among the Wireshark developer and user communities.</h3>

      <p>If you have any questions about your donation, contact us at <a href="mailto:sharkfest@wireshark.org">sharkfest@wireshark.org</a>.</p>
  </div>
</InfoPage>