---
import Layout from "./Layout.astro";
import { LayoutProps } from "./Layout.astro";

const { title, disableMainContainer } = Astro.props as LayoutProps;
const pathname = Astro.url.pathname;
---

<Layout
  isAsiaSite={pathname.includes("sfasia")}
  isUSSite={pathname.includes("sfus")}
  isEUSite={pathname.includes("sfeu")}
  title={title || "SharkFest"}
  pathname={pathname}
>
  <div class="app-wrapper">
    <div class={disableMainContainer ? "" : "main-container"}>
      <slot />
    </div>
  </div>
</Layout>
