@use "../styles/colors.module.scss";
@use "../styles/fonts.module.scss";
@use "../styles/breakpoints" as b;
@use "../styles/spacings" as s;
@use "../styles/latofonts.scss"; // https://www.latofonts.com/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.theme-normal {
  --color-primary: #0051ff;
  --color-secondary: #65b3eb;
  --color-tertiary: #b6ccfd;
  --color-white: #fff;
  --color-off-white: #d1d1d1;
  --color-off-white2: #f5f5f5;
  --color-gray: #7f7f7f;
  --blue-background: #003eaa;
}

.theme-asia {
  --color-primary: #b64f20;
  --color-secondary: #d28e5d;
  --color-tertiary: #a49b93;
  --color-white: #fff;
  --color-off-white: #d1d1d1;
  --color-off-white2: #f5f5f5;
  --color-gray: #7f7f7f;
  --blue-background: #5f1301;
}

.theme-europe {
  --color-primary: #5329b4;
  --color-secondary: #9069aa;
  --color-tertiary: #9d93a4;
  --color-white: #fff;
  --color-off-white: #d1d1d1;
  --color-off-white2: #f5f5f5;
  --color-gray: #7f7f7f;
  --blue-background: #33015f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: fonts.$normal;
  --color-box-shadow: rgba(0, 0, 0, 0.2);
  --color-box-shadow2: rgba(1, 0, 0, 0.048);
  --pagefind-ui-border: var(--blue-background);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$bold;
}

h1 {
  font-size: 3rem;
  margin: 0;

  @media screen and (max-width: b.$smaller) {
    font-size: 2rem;
  }
}

a {
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: var(--color-primary);
  cursor: pointer;
}
a:active {
  color: rgb(62, 114, 255);
}

.aDark {
  color: var(--color-white);
}

.aDark:hover {
  color: var(--color-off-white);
}

.aDark:visited {
  color: var(--color-secondary);
}

ul {
  list-style-type: none;
}

button {
  border-radius: s.$borderRadius;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;

  @media screen and (max-width: b.$smaller) {
    padding: 1rem;
  }
}

.primary-button {
  border: none;
  background: var(--color-primary);
  color: white;
  padding: 1rem;
  font-size: 1rem;
  max-width: 200px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.primary-button:hover {
  background-color: var(--color-secondary);
  transition: background-color 0.25s ease 0s;
}

.secondary-button {
  border: none;
  background: var(--blue-background);
  color: white;
  padding: 1rem;
  font-size: 1rem;
  max-width: 200px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
}
.secondary-button:hover {
  background-color: var(--color-primary);
  transition: background-color 0.25s ease 0s;
}
/******************
// INFO PAGE CSS //
******************/

.main-container {
  width: 100%;
  margin: 0 auto;
}

.app-wrapper {
  flex: 1;
  position: relative;
}

/********************/
// SPONSOR PAGE CSS //
/********************/
.sponsor-container {
  margin-bottom: 3rem;
}

/********************/
// SHOP PAGE CSS    //
/********************/

#myShop header {
  background: transparent;
}

/*****************************
// LEFT/RIGHT SIDE CSS      //
*****************************/

.left-side {
  width: 50%;
  padding: 1rem;

  @media screen and (max-width: b.$smaller) {
    min-width: 100%;
  }
}

.right-side {
  width: 50%;
  padding: 1rem;

  @media screen and (max-width: b.$smaller) {
    width: 100%;
    padding: 0;
  }
}

/**********************************
// STYLES FOR DARKER BACKGROUNDS //
**********************************/
.dark-background {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: var(--color-white);
  }

  a {
    &:hover {
      color: var(--color-off-white);
    }
  }
}

/******************************************
// INDIVIDUAL CONFERENCE HOMEPAGE STYLES //
******************************************/

#experience-sharkfest {
  display: flex;
  margin-bottom: 0;

  .container {
    display: flex;
  }
}

.home-background-img {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1800' height='450' preserveAspectRatio='none' viewBox='0 0 1800 450'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1260%26quot%3b)' fill='none'%3e%3crect width='1800' height='450' x='0' y='0' fill='url(%23SvgjsLinearGradient1261)'%3e%3c/rect%3e%3cpath d='M -2601.1353019645776%2c199 C -2241.14%2c218.2 -1521.14%2c316.2 -801.1353019645774%2c295 C -81.14%2c273.8 478.64%2c103 998.8646980354226%2c93 C 1519.09%2c83 1639.77%2c214.6 1800%2c245' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1652.1336104587251%2c38 C -1292.13%2c82.2 -572.13%2c255.4 147.8663895412749%2c259 C 867.87%2c262.6 1617.44%2c40.2 1947.8663895412749%2c56 C 2278.29%2c71.8 1829.57%2c281.6 1800%2c338' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1940.9192362691874%2c25 C -1580.92%2c69.6 -860.92%2c232.6 -140.91923626918754%2c248 C 579.08%2c263.4 1270.9%2c94.6 1659.0807637308126%2c102 C 2047.26%2c109.4 1771.82%2c248.4 1800%2c285' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1260'%3e%3crect width='1800' height='450' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='18.75%25' y1='-75%25' x2='81.25%25' y2='175%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1261'%3e%3cstop stop-color='rgba(2%2c 22%2c 43%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 81%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  width: 100%;
}

.home-background-img-asia {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1593' height='549' preserveAspectRatio='none' viewBox='0 0 1593 549'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1032%26quot%3b)' fill='none'%3e%3crect width='1593' height='549' x='0' y='0' fill='url(%23SvgjsLinearGradient1033)'%3e%3c/rect%3e%3cpath d='M 0%2c40 C 106.2%2c61 318.6%2c142.8 531%2c145 C 743.4%2c147.2 849.6%2c56.2 1062%2c51 C 1274.4%2c45.8 1486.8%2c105.4 1593%2c119L1593 549L0 549z' fill='rgba(147%2c 49%2c 2%2c 0.63)'%3e%3c/path%3e%3cpath d='M 0%2c249 C 79.8%2c256.6 239.4%2c293.6 399%2c287 C 558.6%2c280.4 638.4%2c206.2 798%2c216 C 957.6%2c225.8 1038%2c336.8 1197%2c336 C 1356%2c335.2 1513.8%2c236.8 1593%2c212L1593 549L0 549z' fill='rgba(127%2c 71%2c 36%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c454 C 106.2%2c462.8 318.6%2c506.6 531%2c498 C 743.4%2c489.4 849.6%2c409 1062%2c411 C 1274.4%2c413 1486.8%2c488.6 1593%2c508L1593 549L0 549z' fill='rgba(94%2c 34%2c 1%2c 0.84)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1032'%3e%3crect width='1593' height='549' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='16.38%25' y1='-47.54%25' x2='83.62%25' y2='147.54%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1033'%3e%3cstop stop-color='rgba(95%2c 19%2c 1%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 45%2c 17%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  width: 100%;
}

.home-background-img-eu {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(83%2c 41%2c 180%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c112 C 96%2c103 288%2c62.2 480%2c67 C 672%2c71.8 768%2c147 960%2c136 C 1152%2c125 1344%2c36.8 1440%2c12L1440 560L0 560z' fill='rgba(58%2c 25%2c 133%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c331 C 57.6%2c311 172.8%2c231.8 288%2c231 C 403.2%2c230.2 460.8%2c318.2 576%2c327 C 691.2%2c335.8 748.8%2c277.8 864%2c275 C 979.2%2c272.2 1036.8%2c330.6 1152%2c313 C 1267.2%2c295.4 1382.4%2c212.2 1440%2c187L1440 560L0 560z' fill='rgba(51%2c 1%2c 95%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c537 C 96%2c508.6 288%2c401.4 480%2c395 C 672%2c388.6 768%2c498.2 960%2c505 C 1152%2c511.8 1344%2c444.2 1440%2c429L1440 560L0 560z' fill='rgba(27%2c 2%2c 50%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  width: 100%;
}

.right-side-background {
  background-image: url("/img/sf-image.jpg");
  width: 100%;
  height: 259px;
  background-size: cover;
  box-shadow: 3px 6px 14px #000000a1;
  border-radius: s.$borderRadius;

  @media screen and (max-width: b.$smaller) {
    display: none;
  }
}

#home-sponsor {
  display: flex;
}

#home-about {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;

  svg {
    margin-right: 2.5rem;
    fill: var(--color-primary);
  }

  h2 {
    margin: 0;
    color: black;
  }
}

.centered-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-sponsor-imgs {
  display: grid;
  grid-gap: 2rem;
  padding: 2rem;
  grid-template-columns: auto auto;
  align-items: center;
  
  height: 90%;

  @media screen and (max-width: b.$tablet) {
    grid-template-columns: auto;
    grid-gap: 3rem;
  }

  img {
    margin: 0 auto;

    @media screen and (max-width: b.$mobile) {
      width: 100%;
      height: auto;
    }
  }
}

.home-sponsor-background, .home-sponsor-background-asia, .home-sponsor-background-eu, #why-attend {
  background-size: cover;
  width: 100%;
  min-height: 280px;

  @media screen and (max-width: b.$mobile) {
    min-height: 260px;
  }
}

.home-sponsor-background,
#why-attend {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1800' height='450' preserveAspectRatio='none' viewBox='0 0 1800 450'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1103%26quot%3b)' fill='none'%3e%3crect width='1800' height='450' x='0' y='0' fill='url(%23SvgjsLinearGradient1104)'%3e%3c/rect%3e%3cpath d='M134.65 507.13C361.36 506.08 567.6 319.82 1021.45 317.57 1475.31 315.32 1681.1 120.77 1908.26 119.57' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M683.43 465.59C829.47 445.84 795.88 108.09 1151.58 107.35 1507.28 106.61 1851.55 237.54 2087.89 237.85' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M339.42 466.51C538.82 462.72 714.94 202.46 1092.19 202.4 1469.44 202.34 1652.46 363.49 1844.96 364.4' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M357.43 538.11C508.61 529.36 618.53 254.11 891.76 252.83 1164.98 251.55 1158.92 309.08 1426.08 309.08 1693.25 309.08 1826.09 252.91 1960.41 252.83' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1090.51 487.27C1236.68 475.67 1319.22 191.87 1591.87 182.91 1864.52 173.95 1964 57.87 2093.23 56.91' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1103'%3e%3crect width='1800' height='450' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='18.75%25' y1='175%25' x2='81.25%25' y2='-75%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1104'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 58%2c 184%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

  .home-sponsor-content {
    padding: s.$spacing2rem;
    text-align: center;
  }
}

.home-sponsor-background-asia {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1800' height='450' preserveAspectRatio='none' viewBox='0 0 1800 450'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1146%26quot%3b)' fill='none'%3e%3crect width='1800' height='450' x='0' y='0' fill='url(%23SvgjsLinearGradient1147)'%3e%3c/rect%3e%3cpath d='M134.65 507.13C361.36 506.08 567.6 319.82 1021.45 317.57 1475.31 315.32 1681.1 120.77 1908.26 119.57' stroke='rgba(194%2c 116%2c 51%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M683.43 465.59C829.47 445.84 795.88 108.09 1151.58 107.35 1507.28 106.61 1851.55 237.54 2087.89 237.85' stroke='rgba(194%2c 116%2c 51%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M339.42 466.51C538.82 462.72 714.94 202.46 1092.19 202.4 1469.44 202.34 1652.46 363.49 1844.96 364.4' stroke='rgba(194%2c 116%2c 51%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M357.43 538.11C508.61 529.36 618.53 254.11 891.76 252.83 1164.98 251.55 1158.92 309.08 1426.08 309.08 1693.25 309.08 1826.09 252.91 1960.41 252.83' stroke='rgba(194%2c 116%2c 51%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1090.51 487.27C1236.68 475.67 1319.22 191.87 1591.87 182.91 1864.52 173.95 1964 57.87 2093.23 56.91' stroke='rgba(194%2c 116%2c 51%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1146'%3e%3crect width='1800' height='450' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='18.75%25' y1='175%25' x2='81.25%25' y2='-75%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1147'%3e%3cstop stop-color='rgba(29%2c 6%2c 1%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(84%2c 35%2c 12%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

  .home-sponsor-content {
    padding: s.$spacing2rem;
    height: 100%;

    h3 {
      margin: 0;

      @media screen and (max-width: b.$smaller) {
        margin-bottom: 1rem;
      }
    }
  }
}

.home-sponsor-background-eu {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1063%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1064)'%3e%3c/rect%3e%3cpath d='M283.08 653.99C476.35 642.46 621.51 285.99 964.36 285.74 1307.21 285.49 1467.22 496.08 1645.64 498.54' stroke='rgba(83%2c 41%2c 180%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M822.58 641.49C906.83 629.14 858.67 446.03 1089.31 429.67 1319.96 413.31 1475.41 183.9 1622.78 177.67' stroke='rgba(83%2c 41%2c 180%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M553.56 585.39C686.03 552.6 643.21 194.87 933.86 193.82 1224.5 192.77 1499.72 360.82 1694.45 361.82' stroke='rgba(83%2c 41%2c 180%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M172.25 640.97C338.7 638.71 471.4 449.63 808.08 443.31 1144.76 436.99 1273.49 201.17 1443.91 196.91' stroke='rgba(83%2c 41%2c 180%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M681.51 669.6C818.17 654.38 902.67 354.48 1131.8 353.73 1360.94 352.98 1463.8 497.54 1582.1 499.33' stroke='rgba(83%2c 41%2c 180%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1063'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1064'%3e%3cstop stop-color='rgba(12%2c 0%2c 29%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 1%2c 95%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

  .home-sponsor-content {
    padding: s.$spacing2rem;
    text-align: center;
  }
}
