---
import "./Layout.scss";
import Header from "../components/Header/Header";
import Footer from "../components/Footer/Footer";
import HeaderLanding from "../components/Header/HeaderLanding";
export interface LayoutProps {
  title: string;
  disableMainContainer?: boolean;
  isAsiaSite: boolean;
  isUSSite: boolean;
  isEUSite: boolean;
  noIndex?: boolean;
}

const { title, isAsiaSite, isUSSite, isEUSite, noIndex } = Astro.props as LayoutProps;
---

<script is:inline define:vars={{ isAsiaSite, isUSSite, isEUSite }}>
  isAsiaSite && localStorage.setItem("theme", "theme-asia");
  isUSSite && localStorage.setItem("theme", "theme-normal");
  isEUSite && localStorage.setItem("theme", "theme-europe");

  const currentTheme = localStorage.getItem("theme");
  document.documentElement.className = currentTheme || "theme-normal";
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="SharkFest, launched in
    2008, is a series of annual educational conferences staged in various
    parts of the globe and focused on sharing knowledge, experience and best
    practices among the Wireshark developer
    and user communities."
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="SharkFest, Wireshark Developer & User Conference">
    <meta property="og:url" content={Astro.url.href} />
    <meta
      property="og:image"
      content="https://sharkfest.wireshark.org/img/sf-image.jpg"
    />
    <meta name="twitter:image:alt" content="SharkFest, Wireshark Developer & User Conference in action. " />
    <meta name="twitter:card" content="summary_large_image" />
    {noIndex && <meta name="robots" content="noindex, nofollow" />}

    <link rel="preload" href="/fonts/Lato-Regular.woff2" />
    <link rel="preload" href="/fonts/Lato-Bold.woff2" />
    <link rel="preload" href="/fonts/Lato-Thin.woff2" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>

    <!-- Pretalx -->
    <link rel="stylesheet" type="text/css" href="https://ticketing.wireshark.org/sf/us2025/widget/v1.css" crossorigin>
    <script type="text/javascript" src="https://ticketing.wireshark.org/widget/v1.en.js" async></script>

    <script type="text/javascript" src="https://conference.wireshark.org/sharkfest-24-us/schedule/widget/v2.en.js"></script>
    <script type="text/javascript" src="https://conference.wireshark.org/sharkfest-25-us-2024/widgets/schedule.js"></script>

    <!-- Pagefind search -->
    <link href="/retrospective/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/retrospective/pagefind/pagefind-ui.js" is:inline></script>

    <!-- Google tag analytics (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FZCZ1G634S"
    ></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-11073046892"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-FZCZ1G634S");
      gtag("config", "AW-11073046892");
      gtag("event", "conversion", {
        send_to: "AW-11073046892/an6xCJ-d64gYEOyShaAp",
      });
    </script>
  </head>
  {Astro.url.pathname === "/" ? <HeaderLanding /> : <Header client:load isAsiaSite={isAsiaSite} isEUSite={isEUSite} />}
  <body>
    <slot />
  </body>
  <Footer />
</html>
