<style is:inline>
    #search {
        position: relative;
    }
</style>

<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // @ts-ignore
        new PagefindUI({ 
            element: "#search", 
            showSubResults: true,
            showImages: false
        });
    });
</script>