---
import InfoPage from "../../../layouts/InfoPage.astro";
import styles from "../retrospective.module.scss"

import { Content as SF18ASIAContent } from "@markdown/retrospective/sfasia/sf18asia.md"

const PAGE_TITLE = "Retrospective"

export async function getStaticPaths() {
    const pages = [
      {
        slug: "sf18asia",
        title: "SharkFest'18 ASIA",
        PageContent: SF18ASIAContent
      },
    ];
    return pages.map(({ slug, PageContent, title }) => {
      return {
        params: { slug },
        props: { PageContent, title },
      };
    });

}
const { PageContent, title } = Astro.props;
---

<InfoPage title={`${title} ${PAGE_TITLE}`}>
  <section class={`container ${styles.retroContainer}`} id="">
    {!!PageContent && <PageContent />}
  </section>
</InfoPage>