@use "../../styles/colors.module.scss";
@use "../../styles/breakpoints" as b;
@use "../../styles/spacings.scss" as s;

.accordionTitle {
    font-size: 1.3rem;
    font-weight: 900;
    padding: .4rem;
}

.accordionTitle:hover {
    cursor: pointer;
    transition: .3s;
    background-color: var(--color-off-white);
}

.accordionItemBordered:last-child {
    border-bottom: 1px solid var(--color-off-white);
}

.accordionItemBordered {
    border-top: 1px solid var(--color-off-white);

    ul {
        margin: 0;
        padding: 0;
        padding-left: s.$spacing8px;
    }

    li {
        padding-top: s.$spacing8px;
        padding-bottom: s.$spacing8px;
    }
}

.accordionItemBordered, .accordionItem {
    div {
        div {
            .caretIcon {
                font-size: .8rem;
                position: inherit;
                color: var(--color-gray);
            }
        }
    }
}
