@use "../../styles/breakpoints" as b;
@use "../../styles/colors.module.scss";
@use "../../styles/spacings.scss" as s;

.primaryButton {
  border: 0px;
  padding: 1rem;
  background: var(--color-primary);
  color: white;
  font-size: 1rem;
  font-weight: 600;

  @media screen and (max-width: b.$tablet) {
    display: none;
  }
}

.primaryButton:hover {
  background-color: var(--color-secondary);
  transition: background-color 0.25s ease 0s;
}

.fullWidth {
  width: 100%;
  padding: .5rem;
}

.buttonWrapper {
  button {
    font-size: 1.5rem;
    font-weight: 700;
    border: 2px solid var(--color-white);
    @media screen and (max-width: b.$tablet) {
      display: inherit;
    }
  }
}
